In [2]:
#import all the required libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(4)

#Opening the website 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
#Scraping the rank by passing the xpath
rank = driver.find_elements_by_xpath('//td[@align="center"][1]')
Rank=[]
for i in rank:
    Rank.append(i.text)
#Scraping the rank by passing the xpath

name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
# Making a list and storing all the scraped data into it
Name=[]
for i in name:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
        
#Scraping the artist by passing the xpath    
upload = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
# Making a list and storing all the scraped data into it
Uploader=[]
for i in upload:
    if i.text is None :
        Uploader.append("-") 
    else:
        Uploader.append(i.text)
        
#Scraping the views by passing the xpath        
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
# Making a list and storing all the scraped data into it
Views=[]
for i in view:
    Views.append(i.text)
    
#Scraping the date by passing the xpath   
date=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
# Making a list and storing all the scraped data into it
Date=[]
for i in date:
    Date.append(i.text)

In [6]:
Rank=Rank[:38]
Uploader=Uploader[:38]
Views=Views[:38]
Date=Date[:38]

In [7]:
Youtube=pd.DataFrame({})
Youtube['Rank']=Rank
Youtube['Name']=Name
Youtube['Artist']=Uploader
Youtube['Views']=Views
Youtube['Date']=Date

In [8]:
Youtube

,Rank,Name,Artist,Views,Date
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.95,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.44,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,5.54,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.38,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.17,"April 6, 2015"
5,6.,Uptown Funk,Get Movies,4.44,"January 31, 2012"
6,7.,Gangnam Style,Cocomelon – Nursery Rhymes,4.29,"May 2, 2018"
7,8.,Sugar,Miroshka TV,4.25,"February 27, 2018"
8,9.,Dame Tu Cosita,Mark Ronson,4.22,"November 19, 2014"
9,10.,Sorry,Psy,4.11,"July 15, 2012"
10,11.,Roar,ChuChu TV,3.98,"March 6, 2014"
11,12.,Counting Stars,Maroon 5,3.50,"January 14, 2015"
12,13.,Thinking Out Loud,El Chombo,3.45,"April 5, 2018"
13,14.,Dark Horse,Justin Bieber,3.45,"October 22, 2015"
14,15.,Faded,Katy Perry,3.38,"September 5, 2013"
15,16.,Shake It Off,OneRepublic,3.34,"May 31, 2013"
16,17.,Girls Like You,Ed Sheeran,3.29,"October 7, 2014"
17,18.,Lean On,Cocomelon – Nursery Rhymes,3.15,"May 24, 2018"
18,19.,Bailando,Katy Perry,3.10,"February 20, 2014"
19,20.,Let Her Go,Alan Walker,3.10,"December 3, 2015"
20,21.,Mi Gente,Taylor Swift,3.07,"August 18, 2014"
21,22.,Perfect,Maroon 5,3.07,"May 31, 2018"
22,23.,Waka Waka (This Time for Africa),Major Lazer,3.06,"March 22, 2015"
23,24.,Axel F,Enrique Iglesias,3.06,"April 11, 2014"
24,25.,Hello,Passenger,3.02,"July 25, 2012"
25,26.,Pinkfong,J Balvin,2.94,"June 29, 2017"
26,27.,Luis Fonsi,Ed Sheeran,2.89,"November 9, 2017"
27,28.,Wiz Khalifa,Shakira,2.88,"June 4, 2010"
28,29.,Psy,Crazy Frog,2.87,"June 16, 2009"
29,30.,Justin Bieber,Adele,2.85,"October 22, 2015"
30,,Lady Gaga,"7,037,500,000","June 17, 2016","November 2, 2020"
31,[118],Judson Laipply,"2,993,700,000","January 12, 2017","August 4, 2017"
32,[28],RCA Records,"2,894,000,000","April 6, 2015","July 10, 2017"
33,[35],Judson Laipply,"803,700,000","July 15, 2012","November 24, 2012"
34,[119],Judson Laipply,"245,400,000","February 19, 2010","July 16, 2010"
35,93,Smosh,"178,400,000","November 24, 2009","April 14, 2010"
36,171,Nikesoccer,"128,900,000","May 22, 2007","October 25, 2009"
37,176,jawed,"118,900,000","April 6, 2006","May 2, 2009"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through

In [12]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(4)
# Opening the homepage of bcci website
driver.get("https://www.bcci.tv/")
# Clickking on drop down navigation bar On International
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()
# Selecting the Fixtures from International
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [13]:
# Creating lists of each column
Match=[]
Place=[]
Series=[]
Time=[]
Date=[]
Month=[]

# Scraping the title by passing xpath
match=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
# Appending all the match titles to the list (Match) using for loop
for i in match:
    Match.append(i.text)
# Scraping the place by passing xpath
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
# Appending all the places to the list (Place) using for loop
for i in place:
    Place.append(i.text)
# Scraping the Series by passing xpath
series=driver.find_elements_by_xpath("//div[@class='fixture__info u-skewed']/div[1]/span[1]")
# Appending all the Series to the list (Series) using for loop
for i in series:
    Series.append(i.text)
# Scraping the time by passing xpath
time=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
# Appending all the match timings to the list (Time) using for loop
for i in time:
    Time.append(i.text)
# Scraping the date by passing xpath
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
Date=[]
# Appending all the match dates to the list (Date) using for loop
for i in date:
    Date.append(i.text)
# Scraping the month by passing xpath
month=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
# Appending all the months to the list (Month) using for loop
for i in month:
    Month.append(i.text)

In [14]:
BCCI=pd.DataFrame({})
BCCI['Match Title']=Match
BCCI['Series']=Series
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Month']=Month
BCCI['Time']=Time
# Viewing the Scraped data
BCCI

   Match Title Series                         Place Date      Month       Time
0      1st ODI    ODI  R Premadasa Stadium, Colombo   18       JULY  15:00 IST
1      2nd ODI    ODI  R Premadasa Stadium, Colombo   20       JULY  15:00 IST
2      3rd ODI    ODI  R Premadasa Stadium, Colombo   23       JULY  15:00 IST
3     1st T20I   T20I  R Premadasa Stadium, Colombo   25       JULY  20:00 IST
4     2nd T20I   T20I  R Premadasa Stadium, Colombo   27       JULY  20:00 IST
5     3rd T20I   T20I  R Premadasa Stadium, Colombo   29       JULY  20:00 IST
6     1st Test   TEST      Trent Bridge, Nottingham   04     AUGUST  15:30 IST
7     2nd Test   TEST                Lord's, London   12     AUGUST  15:30 IST
8     3rd Test   TEST             Headingley, Leeds   25     AUGUST  15:30 IST
9     4th Test   TEST              The Oval, London   02  SEPTEMBER  15:30 IST
10    5th Test   TEST      Old Trafford, Manchester   10  SEPTEMBER  15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [16]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
# Opening the homepage of guru99 website
driver.get("https://www.guru99.com/")
# Clicking on Selenium 
driver.find_element_by_xpath('//ul[@class="menu"]/li[3]').click()

In [17]:
# Clicking on Selenium Exception Handling (Common Exceptions List)
driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]').click()

In [18]:
#Scraping the names by passing xpath
name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
#Scraping the description by passing xpath
desc=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
# Making list named "Name" and appending all the exception names into it
Name=[]
for i in name:
    Name.append(i.text)

# Making list named "Desc" and appending all the Description of all the exceptions into it
Desc=[]
for i in desc:
    Desc.append(i.text)

In [19]:
# Saving all the scraped data into a DataFrame named "Exceptions"
Exceptions=pd.DataFrame({})
Exceptions['Name']=Name
Exceptions['Description']=Desc
# Viewing the DataFrame(Exceptions)
Exceptions

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4>Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
# Opening the homepage of website
driver.get("http://statisticstimes.com/")
# Clicking on Read more
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/p[2]/a").click()

In [5]:
# Clicking on Economy
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

In [10]:
#start and end for scraping SGDP
tr_start=0
tr_end=33

In [11]:
# Scraping the rank by passing xpath
rank = driver.find_elements_by_xpath('//td[@class="data1"]')
# Scraping the state by passing xpath
state=driver.find_elements_by_xpath('//td[@class="name"]')
# Scraping the GSDPs of year 18 & 19 by passing xpath
gsdp_1819=driver.find_elements_by_xpath('//tr[@role="row"]/td[4]')
# Scraping the GSDPs of year 19 &20 by passing xpath
gsdp_1920=driver.find_elements_by_xpath('//tr[@role="row"]/td[3]')
# Scraping the GDP of each state by passing xpath
gdp=driver.find_elements_by_xpath('//tr[@role="row"]/td[6]')
# Scraping the share of state by passing xpath
share=driver.find_elements_by_xpath('//tr[@role="row"]/td[5]')

# Making  a list named Rank and appending all the ranks in it
Rank=[]
for i in rank[tr_start:tr_end]:
    Rank.append(i.text)

state=driver.find_elements_by_xpath('//td[@class="name"]')
# Making  a list named State and appending all the states in it
State=[]
for i in state[tr_start:tr_end]:
    State.append(i.text)
# Making  a list named GSDP_1819 and appending all the GSDPs of year 18 & 19  in it
GSDP_1819=[]
for i in gsdp_1819[tr_start:tr_end]:
    GSDP_1819.append(i.text)
# Making  a list named GSDP_1920 and appending all the GSDPs of year 19 & 20  in it   
GSDP_1920=[]
for i in gsdp_1920[tr_start:tr_end]:
    GSDP_1920.append(i.text)
    
# Making  a list named Share and appending all the states shares in it
Share=[]
for i in share[tr_start:tr_end]:
    Share.append(i.text)
# Making  a list named GDP and appending all the states GDP in it    
GDP=[]
for i in gdp[tr_start:tr_end]:
    GDP.append(i.text)

In [12]:
#Saving all the scraped data into a DataFrame
Stats=pd.DataFrame({})
Stats['Rank']=Rank
Stats['State']=State
Stats['GSDP_1819']=GSDP_1819
Stats['GSDP_1920']=GSDP_1920
Stats['Share']=Share
Stats['GDP($ billion)']=GDP
#Viewing the DataFrame
Stats

   Rank                     State GSDP_1819 GSDP_1920 Share GDP($ billion)
0     1                    Guyana    16.394         1     4          5.766
1     4             South America     1.989         2   155         96.611
2   152                  Ethiopia     5.556         3    31         15.455
3    82                    Africa     5.000         4    46          7.997
4     2                    Guinea     5.035         5    40        329.120
5   155                    Africa     2.473         6   145        361.847
6    64                Tajikistan    -8.894         7   191         81.257
7   169                      Asia     4.748         8    52        668.510
8     3                Bangladesh     6.500         9    16        340.821
9    31                      Asia     4.234        10    71        418.716
10  124                     Egypt     5.956        11    25         61.402
11  166                    Africa     8.437        12     9     14,722.840
12    4                   Myanmar     4.972        13    49         15.193
13   46                      Asia     6.042        14    21        719.537
14  148  Taiwan Province of China     4.991        15    48         57.706
15  174                      Asia     2.539        16   140        635.724
16    5                   Vietnam     1.646        17   161         12.016
17   40                      Asia     6.890        18    13         13.698
18   41                   Ireland     2.658        19   136         63.244
19  146                    Europe     4.639        20    57         68.418
20    6             Côte d'Ivoire     5.197        21    37         24.448
21  145                    Africa     4.256        22    70         16.541
22   34                     China     4.559        23    58         47.354
23  121                      Asia     1.550        24   162          0.114
24    7                     Benin     3.500        25   102          7.495
25  191                    Africa     2.200        26   149          8.488
26   66                    Turkey     2.477        27   144          0.048
27  155                    Europe     6.000        28    23          1.913
28    8                Uzbekistan     3.491        29   104          2.366
29   52                      Asia     3.770        30    91         49.077
30   21  Islamic Republic of Iran     7.560        31    10         99.287
31   31                      Asia     5.690        32    30         10.372
32    9         Brunei Darussalam     1.496        33   164        262.799

In [13]:
print(Stats.to_string(index=False))

Rank                    State GSDP_1819 GSDP_1920 Share GDP($ billion)
   1                   Guyana    16.394         1     4          5.766
   4            South America     1.989         2   155         96.611
 152                 Ethiopia     5.556         3    31         15.455
  82                   Africa     5.000         4    46          7.997
   2                   Guinea     5.035         5    40        329.120
 155                   Africa     2.473         6   145        361.847
  64               Tajikistan    -8.894         7   191         81.257
 169                     Asia     4.748         8    52        668.510
   3               Bangladesh     6.500         9    16        340.821
  31                     Asia     4.234        10    71        418.716
 124                    Egypt     5.956        11    25         61.402
 166                   Africa     8.437        12     9     14,722.840
   4                  Myanmar     4.972        13    49         15.193
  46                     Asia     6.042        14    21        719.537
 148 Taiwan Province of China     4.991        15    48         57.706
 174                     Asia     2.539        16   140        635.724
   5                  Vietnam     1.646        17   161         12.016
  40                     Asia     6.890        18    13         13.698
  41                  Ireland     2.658        19   136         63.244
 146                   Europe     4.639        20    57         68.418
   6            Côte d'Ivoire     5.197        21    37         24.448
 145                   Africa     4.256        22    70         16.541
  34                    China     4.559        23    58         47.354
 121                     Asia     1.550        24   162          0.114
   7                    Benin     3.500        25   102          7.495
 191                   Africa     2.200        26   149          8.488
  66                   Turkey     2.477        27   144          0.048
 155                   Europe     6.000        28    23          1.913
   8               Uzbekistan     3.491        29   104          2.366
  52                     Asia     3.770        30    91         49.077
  21 Islamic Republic of Iran     7.560        31    10         99.287
  31                     Asia     5.690        32    30         10.372
   9        Brunei Darussalam     1.496        33   164        262.799

6>Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [8]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
#Opening the github website
driver.get("https://github.com/")

In [9]:
# Clicking on the Explore drop down options
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [10]:
# Clicking on "Trending" option
trending=driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"]/li')
trending.click()

In [11]:
# Clicking on "Trending" option through dropdown options of Explore button
driver.find_element_by_xpath('//div[@class="d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left"]/a[3]').click()

In [12]:
# Scraping the titles of each repository
title = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

# Making list named "Title" and appending all the titles into it
Title=[]
for i in title:
    Title.append(i.text)

# Scraping the description of each repository
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
# Making list named "Desc" and appending all the descriptions into it
Desc=[]
for i in desc:
    if i.text is None :
        Desc.append("-") 
    else:
        Desc.append(i.text)
# Scraping the contributors of each repository        
cont=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
# Making list named "Contributors" and appending all the contributors count into it
Contributors=[]
for i in cont:
    if i.text is None :
        Contributors.append("-") 
    else:
        Contributors.append(i.text)
# Scraping the programming languages of each repository        
lang = driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
# Making list named "Language" and appending all the languages into it
Language=[]    
for i in lang:
    if i.text is None :
        Language.append("-") 
    else:
        Language.append(i.text)

In [13]:
#Checking the length of each list
print(len(Title),len(Desc),len(Contributors),len(Language))

25 22 25 24

In [14]:
#Saving all the scraped data into a DataFrame(GitHub)
GitHub=pd.DataFrame({})
GitHub['Title']=Title[:22]
GitHub['Desc']=Desc[:22]
GitHub['Contributors Count']=Contributors[:22]
GitHub['Language']=Language[:22]
#Viewing the DataFrame
GitHub

,Title,Desc,Contributors Count,Language
0,bndw / wifi-card,📶 Print a QR code for connecting to your WiFi,125,JavaScript
1,facebook / folly,An open-source C++ library developed and used ...,"4,146",C++
2,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",300,C++
3,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,"3,619",Java
4,microsoft / CBL-Mariner,Linux OS for Azure 1P services and edge applia...,89,Go
5,opensearch-project / OpenSearch,Open source distributed and RESTful search eng...,255,Java
6,avelino / awesome-go,"A curated list of awesome Go frameworks, libra...","8,659",Go
7,fenixsoft / awesome-fenix,讨论如何构建一套可靠的大型分布式系统,225,Vue
8,dromara / Sa-Token,这可能是史上功能最全的Java权限认证框架！目前已集成——登录认证、权限认证、分布式Sess...,784,Java
9,0vercl0k / wtf,"wtf is a distributed, code-coverage guided, cu...",25,C++
10,TencentARC / GFPGAN,"12 weeks, 24 lessons, classic Machine Learning...",82,Python
11,microsoft / ML-For-Beginners,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,"2,669",Jupyter Notebook
12,chefyuan / algorithm-base,End-to-end image segmentation kit based on Pad...,"1,134",Java
13,PaddlePaddle / PaddleSeg,微信消息解密工具,443,Python
14,JustYoomoon / WechatDecrypt," Now we have become very big, Different from ...",35,C++
15,jaywcjlove / awesome-mac,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,"4,834",JavaScript
16,kon9chunkit / GitHub-Chinese-Top-Charts,Used to integrate the Facebook Platform with y...,"5,142",Java
17,facebook / facebook-ios-sdk,A Go framework for microservices.,"2,860",Objective-C
18,go-kratos / kratos,A cat(1) clone with wings.,"2,808",Go
19,sharkdp / bat,This repository contains all the DSA (Data-Str...,720,Rust
20,Aaron-lv / sync,Model parallel transformers in JAX and Haiku,44,Jupyter Notebook
21,AkashSingh3031 / The-Complete-FAANG-Preparation,An open source vector database powered by Fais...,569,Python

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [15]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
#Opening the billboard website
driver.get("https://www.billboard.com/ ")

In [17]:
#Clicking on Charts
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

In [18]:
#Clicking on Hot 100
driver.find_element_by_xpath('//div[@class="charts-landing__info--view-chart-holder"]').click()

In [19]:
#Scraping the song name by passing xpath
song= driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

#Making a list and storing all the scraped data into it
Song=[]
for i in song:
    if i.text is None :
        Song.append("-")
    else:
        Song.append(i.text)
        
#Scraping the artist name by passing xpath
artist=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

#Making a list and storing all the scraped data into it
Artist=[]
for i in artist:
    if i.text is None :
        Artist.append("-")
    else:
        Artist.append(i.text)
        
#Scraping the last week rank by passing xpath
last_week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

#Making a list and storing all the scraped data into it
Last_week=[]
for i in last_week:
    if i.text is None :
        Last_week.append("-")
    else:   
        Last_week.append(i.text)
        
#Scraping the peak rank by passing xpath
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

#Making a list and storing all the scraped data into it
Peak=[]
for i in peak:
    if i.text is None :
        Peak.append("-")
    else:
        Peak.append(i.text)
        
#Scraping the weeks on board by passing xpath
weeks_on_board = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
#Making a list and storing all the scraped data into it
Weeks_on_Board=[]
for i in weeks_on_board:
    if i.text is None :
        Weeks_on_Board.append("-")
    else:
        Weeks_on_Board.append(i.text)

In [21]:
#Checking the length of each list
print(len(Song),len(Artist),len(Last_week),len(Peak),len(Weeks_on_Board))

100 100 100 100 100

In [22]:
#Saving all the scraped data into a DataFrame(Billboard)
Billboard=pd.DataFrame({})
Billboard['Song name']=Song 
Billboard['Artist name']=Artist 
Billboard['Last week rank']=Last_week 
Billboard['Peak rank']=Peak
Billboard['Weeks on Board']=Weeks_on_Board
#Viewing the DataFrame
Billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on Board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [112]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")
#Opening the naukri website
driver.get("https://www.naukri.com/")

In [113]:
#Clicking on Recruiters
driver.find_element_by_xpath('//a[@ data-ga-track="Main Navigation Recruiters|Recruiters Icon"]').click()

In [120]:
driver = webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

In [121]:

search_bar = driver.find_element_by_xpath('//input[@ class="sugInp"]')

In [122]:
search_bar.send_keys('Data Scientist')

In [123]:
search_botton=driver.find_element_by_xpath('//button[@type="submit"]').click()

In [124]:
name2=[]

for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):

   name2.append(i.text.replace('\n',''))
name2

['Tanushree',
 'sashi bhushan',
 'Bitapi',
 'Gajendra Singh',
 'Sadashiv Kulkarni',
 'Invelopment',
 'Anjali Srivastava',
 'Anoop Somarajan',
 'Helly Vyas',
 'Ashish Verma',
 'Bhuwneshari Devi',
 'HS Sandesh',
 'Datafoundry',
 'A Valsa Florina',
 'Kalaivani M V',
 'Prashant K',
 'Radhika',
 'Rakhi',
 'Monika Jain',
 'Trilok Nath',
 'Sridharan',
 'Rashmi Kathuria',
 'Vidya Rani Hadimani',
 'Monika Singh Thakur',
 'Shikha Bakshi',
 'Abhishek - Only Analytics Hiring - India and',
 'Jayanth N',
 'Ishu Kumar',
 'Ravi',
 'Vivek Shrivastava',
 'Gayathri E',
 'Best In Town Analytics',
 'Santhosh Nagaiah',
 'priyanka',
 'Renny Benita K',
 'Roshan Menugu',
 'HR Team',
 'Jamil Akhtar',
 'rajesh',
 'navya neluri',
 'Ram Kumar',
 'Vanitha Senkurichi',
 'Sravan Kumar Ranga',
 'Prachi Naware',
 'Arya',
 'Blueberry Digital Labs',
 'Shiva Kumar N',
 'Ms Uma',
 'Manoj Kumar Ganesh',
 'Kranthi Kumar M']

In [126]:
designation=[]

for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):

   designation.append(i.text.replace('\n',''))
designation

['Lead Recruiter',
 'Senior Specialist',
 'HR and Operation Manager',
 'Head of Recruitment - Product &amp;...',
 'Company HR',
 'Company HR',
 'Director HR',
 'Assistant Manager Talent Acquisition',
 'HR Business Partner',
 'Senior Associate Human Resources',
 'Lead Talent Acquisition',
 'Talent Evangelist www staffiohr co',
 'Company HR',
 'Recruitment Specialist',
 'HR Manager',
 'Sr HR',
 'HR Associate',
 'HR recruiter',
 'Talent Aquistion Lead',
 'Senior IT Recruiter',
 'Company Recruiter Vice President',
 'Talent Acquisition Specialist (Specialized...',
 'Business Manager Delivery',
 'Technical Recruiter',
 'Senior Manager Recruitment',
 'Recruitment Lead Consultant',
 'Project Manager',
 'Co Founder &amp; Ceo',
 'Team HR',
 'Assistant Manager Human Resources',
 'Sr Recruitment',
 'Analytics Associate',
 'Chief marketing officer',
 'General Manager',
 'Operations Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'HR Executive',
 'Data Scientist',
 'Data Scientist',
 'Company HR',
 'Assistant Manager',
 'Recruitment Executive',
 'Human Resources Manager',
 'HR',
 'Founder',
 'Company HR',
 'Senior HR Associate',
 'Lead HR Talent Acquisition']

In [129]:
loc=[]

for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]'):

   loc.append(i.text.replace('\n',''))
loc

['Noida',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Noida',
 'Pune',
 'Ahmedabad',
 'Noida',
 'Chennai',
 'Pune',
 'Gurgaon',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Chennai',
 'Bengaluru / Bangalore',
 'Coimbatore',
 'Singapore - (singapore)',
 'Noida',
 'Hyderabad / Secunderabad',
 'Chennai',
 'Noida',
 'Bengaluru / Bangalore',
 'Indore',
 'Gurgaon',
 'Vadodara / Baroda',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'Ghaziabad',
 'Noida',
 'Chennai',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Pune',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Navi Mumbai',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Noida',
 'Chennai',
 'Hyderabad / Secunderabad']

In [130]:
organization=[]

for i in driver.find_elements_by_xpath('//a[@class="ellipsis"]'):

   organization.append(i.text.replace('\n',''))
organization

['Tanushree',
 'RecRoots',
 'sashi bhushan',
 'Wipro',
 'Bitapi',
 'Anvaya',
 'Gajendra Singh',
 'A Leading of Product Start-UP Company',
 'Sadashiv Kulkarni',
 'Digitially Insights Pvt Ltd',
 'Invelopment',
 'Invelopment',
 'Anjali Srivastava',
 'CodeFire Technologies Pvt. Ltd.',
 'Anoop Somarajan',
 'Access Healthcare',
 'Helly Vyas',
 'AM - TA &amp; HR',
 'Ashish Verma',
 'Evalueserve.com Private Limited',
 'Bhuwneshari Devi',
 'Success Pact Consulting',
 'HS Sandesh',
 'Staffio HR',
 'Datafoundry',
 'JAITRA SOFTWARE SOLUTIONS PVT LTD',
 'A Valsa Florina',
 'Redbus.in',
 'Kalaivani M V',
 'ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED',
 'Prashant K',
 'Confidential',
 'Radhika',
 'Bright Bridge Info-tech Pvt Ltd',
 'Rakhi',
 'Constalytics',
 'Monika Jain',
 'Info Edge India Limited',
 'Trilok Nath',
 'Molveno Consulting Private Limited',
 'Sridharan',
 'Aaum Research and Analytics Private Limited',
 'Rashmi Kathuria',
 'Mount Talent consulting',
 'Vidya Rani Hadimani',
 'Talent Management Labs Inc.',
 'Monika Singh Thakur',
 'ValueLabs',
 'Shikha Bakshi',
 'Fractal Analytics!!',
 'Abhishek - Only Analytics Hiring - India and',
 'Apidel Technologies Division of Transpower',
 'Jayanth N',
 'Dollarbird Information Services Pvt, Ltd',
 'Ishu Kumar',
 'Data X',
 'Ravi',
 'Einfluss Teknocommercial Pvt. Ltd.',
 'Vivek Shrivastava',
 'InnovAccer Management Pvt Ltd',
 'Gayathri E',
 'Wonderwrks IT Services Private Limited',
 'Best In Town Analytics',
 'BITA',
 'Santhosh Nagaiah',
 'Tuple Technologies Pte Ltd',
 'priyanka',
 'Reliance Industries',
 'Renny Benita K',
 'DeepIQ Software Solutions Pvt Ltd',
 'Roshan Menugu',
 'Cyient Limited',
 'HR Team',
 'Terra Blue Exploration Technologies Pvt....',
 'Jamil Akhtar',
 'Quikkloan',
 'rajesh',
 'quantum value IT services',
 'navya neluri',
 'asens labs',
 'Ram Kumar',
 'Working As A Freelancer',
 'Vanitha Senkurichi',
 'Quaero 3 India Ltd',
 'Sravan Kumar Ranga',
 'GSPANN Technologies',
 'Prachi Naware',
 'TechnoSpan Technologies',
 'Arya',
 'Arya.ai',
 'Blueberry Digital Labs',
 'Blueberry Digital Labs',
 'Shiva Kumar N',
 'Rapid Talent Solutions -9148242334',
 'Ms Uma',
 'RenovITe Payment Solutions Pvt ltd',
 'Manoj Kumar Ganesh',
 'Cads Software India',
 'Kranthi Kumar M',
 'PrimEra Medical Technologies Private...']

In [131]:
skill=[]

for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):

   skill.append(i.text.replace('\n',''))
skill

['UI Developers, Software Engineers, Quality Assurance, Principal Engineers, Data Scientists, Product Manager, Android Developer, Web Developer, Design, coding',
 'pig, hbase, sas, spss, apache, python, nosql, php, Cloud Computing, hadoop, r, Hadoop Architect, spark, flume, Advanced Excel, statistics',
 'Hadoop, Big Data, Data Scientists, Java, Spring Boot, Oracle, SQL, MySQL, Object Oriented Programming, RDBMS, Data Modeling',
 'Data Scientist, Big Data, Hadoop, Web Analytics, NLP, Machine Learning, J2EE, SAP, Oracle, ERP, .Net, Sharepoint, Architecture, Devops, Mobile APPs',
 'Big Data Engineer, Data Scientist, Solutions, Test Cases, Big Data, Developer, Hadoop, Analytics, Data Analytics, Predictive Modeling',
 'Scandinavian Startups',
 'Technical, Business Development Executive, Software Developer, Technical Lead, Project Manager, Business Development Manager, Business Head, Php Developer',
 'Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript, Css, Github, Data Scientist, Machine Learning, R, Angularjs, Node.js, Aws, Web Development, Sql Dba',
 'Big Data technology, PLSQL, Web Developer, Java, Data Scientist, Financial Analyst, Investment Banking, Big Data packages/applications, Scala, Python, Impala',
 'SAS, VBA, Business Information Services(BIS), Legal, Corporate Lawyers, Business Research, Library Services, Natural Language Processing (NLP), Industry',
 'Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flipkart, Treebo, Shuttl, Rivigo, BrowserStack, Crowdfire, Mindtickle, Hike, Igniteworld',
 'Digital Marketing, General Manager, Business Development, Product Manager, Big Data, Business Analyst, Frontend Developer, Human Resources, data',
 'Webmethods Developer, Mean Stack, Business Analysis, Data Scientist, Database Development, java, python, Algorithm Scientist, Machine Learning, artificial',
 'Business Analyst, Front end developer, legal, Finance Manager, Global Gds, Product Manager, SEO Specialist, Big Data, sales and business development, L2',
 'Data Scientist, Cloud Computing, Mobile Application Development',
 'Data Analyst, Statistical Analysis, Data Scientist, Analytics Manager, Software Engineer',
 'business analyst - IT (python), pay per click, social media marketing, retargeting on videos, Online Branding Professional, Data Scientist, Post-sales',
 'Data Scientist, Data Research Analyst, Big Data, Analytics, Data Modelling And Mapping, Graph Database',
 'Lamp Developer, Ui/ux Developer, Qa Engineer, Java Developer, Data Scientist',
 '.Net Developers With Angular Js, Html, Front End Developers With React Js, Node Js Developer, Landesk Admin, Help Desk Admin, Sfdc, Sfdc Consutant, Data',
 'Data Scientist, Developer, Ui, Accounting',
 'Leading MNCs, Product based organizations',
 'Amazon Walmart Adobe OLA Myntracom Komli Media Practo Showt RevX DataRPM Adobe Infoworks PayPal Elasticbeam Appdynamics Cloodon fashalot Curefit kensci Soroco',
 'Big Data Analytics, Marketing Analytics, Full Stack, Technical Architecture',
 'Analytics, Big Data, Hadoop, Python',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Python, Machine Learning, Sql, Data Science',
 'Deep Learning, Machine Learning, unstructured data mining, natural language processing, Artificial Intelligence, Pattern Recognition, Information Retrieval',
 'Business Analyst, analytics, Decesion Scientist, Data Scientist, Developer, Machine Learning, NLP, Machine Linguistics, Product Development',
 'IT Infrastructure Management, PHP, Wordpress, MySQL, Java, IPTABLES, Coldfusion, Debian, Bash, SQL, Ubuntu, Networking, UI Development, HTML, Javascript',
 'Data Analytics',
 'Data Science, Project Management, Backend',
 'Sap, Saas, Sql, Hadoop, Production Planning, Business Development, Software Development, Project Management, Big Data, Data Analytics, Data Science',
 'Core Java, J2ee, Big Data, Machine Learning, Deep Learning, Real Time Analysis, Ui, Front End',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Data Scientist, Tableau, R Tool, Data Analytics, Business Analytics',
 'Not Specified',
 'Not Specified',
 'sql, Ui Development, ssis, Data Modeling, Data Warehousing, root cause analysis, Performance Tuning, Database Maintenance, Technical Documentation',
 'devops, build and release, Delivery Manager, Oracle Webcenter, selenium, ruby, hadoop, teamsite, java/j2ee, datastage, informatica, Production Support, core',
 'Machine Learning, React.js, Computer Vision, Artificial Intelligence, Nlp, Architect, Silicon Valley, Startup, Data Science',
 'Artificial Intelligence, Deep Learning, Machine Learning, Data Science, Data Analytics, Data Mining, Python, Enterprise Architecture, Product Management, New',
 'Node.js, Html, Css, Nosql, Web Designing, Web Application, Python, Data Analysis, Layout, Desktop Publishing, Seo',
 'salaesforce, Web Technologies, .net, .net full stack, java full stack, servicenow, Java, Automation Testing, Front End Developer, Backend Developer, Mobile',
 'java, J2ee, activemq, rest, cassandra, redis, nosql, spark, Big Data, scala, cq5, aem, spring, c++, Test Engineering, Performance Testing',
 'Java, J2EE, Oracle E-business Suite, MS CRM, Protocol Development, IP/Networking Reqts, Big Data, hadoop, hive, Machine Learning, Data Scientist, R',
 'Medical Coders, mbbs, bi, appeals, master data management, Big Data, hadoop, Predictive Analytics, Business Intelligence, managed care organization']

In [138]:
#Saving all the scraped data into a DataFrame(GitHub)
Naukri=pd.DataFrame({})
Naukri['Name']=name2[:10]
Naukri['Designation']=designation[:10]
Naukri['Organization']=organization[:10]
Naukri['Location']=loc[:10]
Naukri['skill']=skill[:10]
#Viewing the DataFrame


Naukri

,Name,Designation,Organization,Location,skill
0,Tanushree,Lead Recruiter,Tanushree,Noida,"UI Developers, Software Engineers, Quality Ass..."
1,sashi bhushan,Senior Specialist,RecRoots,Bengaluru / Bangalore,"pig, hbase, sas, spss, apache, python, nosql, ..."
2,Bitapi,HR and Operation Manager,sashi bhushan,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
3,Gajendra Singh,Head of Recruitment - Product &amp;...,Wipro,Noida,"Data Scientist, Big Data, Hadoop, Web Analytic..."
4,Sadashiv Kulkarni,Company HR,Bitapi,Pune,"Big Data Engineer, Data Scientist, Solutions, ..."
5,Invelopment,Company HR,Anvaya,Ahmedabad,Scandinavian Startups
6,Anjali Srivastava,Director HR,Gajendra Singh,Noida,"Technical, Business Development Executive, Sof..."
7,Anoop Somarajan,Assistant Manager Talent Acquisition,A Leading of Product Start-UP Company,Chennai,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript..."
8,Helly Vyas,HR Business Partner,Sadashiv Kulkarni,Pune,"Big Data technology, PLSQL, Web Developer, Jav..."
9,Ashish Verma,Senior Associate Human Resources,Digitially Insights Pvt Ltd,Gurgaon,"SAS, VBA, Business Information Services(BIS), ..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [25]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

#Clicking on books
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [26]:
# Scraping the book names
book=driver.find_elements_by_xpath('//tr[@class="odd"]/td[2]')

Book=[]
for i in book:
    if i.text is None :
        Book.append("-") 
    else:
        Book.append(i.text)
# Scraping the author names      
author=driver.find_elements_by_xpath('//tr[@class="odd"]/td[3]')

Author=[]
for i in author:
    if i.text is None :
        Author.append("-") 
    else:
        Author.append(i.text)
# Scraping the volumes        
volumes=driver.find_elements_by_xpath('//tr[@class="odd"]/td[4]')

Volumes=[]
for i in volumes:
    if i.text is None :
        Volumes.append("-") 
    else:
        Volumes.append(i.text)
 # Scraping the  publishers       
publisher=driver.find_elements_by_xpath('//tr[@class="odd"]/td[5]')

Publisher=[]
for i in publisher:
    if i.text is None :
        Publisher.append("-") 
    else:
        Publisher.append(i.text)
 # Scraping the genres       
genre=driver.find_elements_by_xpath('//tr[@class="odd"]/td[6]')

Genre=[]
for i in genre:
    if i.text is None :
        Genre.append("-") 
    else:
        Genre.append(i.text)

In [27]:
#Saving all the scraped data into a DataFrame
Novels=pd.DataFrame({})
Novels['Book Name']=Book
Novels['Author Name']=Author
Novels['Volumes sold']=Volumes
Novels['Publisher']=Publisher
Novels['Genre']=Genre 
#Viewing the DataFrame
Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
1,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
2,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
3,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
4,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
5,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
6,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
7,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
8,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
9,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
10,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
11,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
12,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
13,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
14,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
15,"Time Traveler's Wife,The","Niffenegger, Audrey","1,546,886",Random House,General & Literary Fiction
16,Bridget Jones's Diary:A Novel,"Fielding, Helen","1,508,205",Pan Macmillan,General & Literary Fiction
17,Captain Corelli's Mandolin,"Bernieres, Louis de","1,352,318",Random House,General & Literary Fiction
18,Life of Pi,"Martel, Yann","1,310,176",Canongate,General & Literary Fiction
19,"Child Called It,A","Pelzer, Dave","1,217,712",Orion,Autobiography: General
20,Angela's Ashes:A Memoir of a Childhood,"McCourt, Frank","1,204,058",HarperCollins,Autobiography: General
21,Northern Lights:His Dark Materials S.,"Pullman, Philip","1,181,503",Scholastic Ltd.,Young Adult Fiction
22,Harry Potter and the Half-blood Prince,"Rowling, J.K.","1,153,181",Bloomsbury,Science Fiction & Fantasy
23,Man and Boy,"Parsons, Tony","1,130,802",HarperCollins,General & Literary Fiction
24,"No.1 Ladies' Detective Agency,The:No.1 Ladies'...","McCall Smith, Alexander","1,115,549","Little, Brown Book","Crime, Thriller & Adventure"
25,"PS, I Love You","Ahern, Cecelia","1,107,379",HarperCollins,General & Literary Fiction
26,"Shadow of the Wind,The","Zafon, Carlos Ruiz","1,092,349",Orion,General & Literary Fiction
27,"Broker,The","Grisham, John","1,087,262",Random House,"Crime, Thriller & Adventure"
28,"Subtle Knife,The:His Dark Materials S.","Pullman, Philip","1,037,160",Scholastic Ltd.,Young Adult Fiction
29,Delia's How to Cook:(Bk.1),"Smith, Delia","1,015,956",Random House,Food & Drink: General
30,"Boy in the Striped Pyjamas,The","Boyne, John","1,004,414",Random House Childrens Books G,Young Adult Fiction
31,"Amber Spyglass,The:His Dark Materials S.","Pullman, Philip","1,002,314",Scholastic Ltd.,Young Adult Fiction
32,"Men are from Mars, Women are from Venus:A Prac...","Gray, John","992,846",HarperCollins,Popular Culture & Media: General Interest
33,"Short History of Tractors in Ukrainian,A","Lewycka, Marina","986,115",Penguin,General & Literary Fiction
34,"Lord of the Rings,The","Tolkien, J. R. R.","967,466",HarperCollins,Science Fiction & Fantasy
35,"Interpretation of Murder,The","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
36,"Alchemist,The:A Fable About Following Your Dream","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
37,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing
38,Bridget Jones: The Edge of Reason,"Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
39,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
40,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
41,Nigella Express,"Lawson, Nigella","862,602",Random House,Food & Drink: General
42,"Memory Keeper's Daughter,The","Edwards, Kim","845,858",Penguin,General & Literary Fiction
43,About a Boy,"Hornby, Nick","828,215",Penguin,General & Literary Fiction
44,"God Delusion,The","Dawkins, Richard","816,907",Transworld,Popular Science
45,White Teeth,"Smith, Zadie","815,586",Penguin,General & Literary Fiction
46,"Book Thief,The","Zusak, Markus","809,641",Transworld,General & Literary Fiction
47,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
48,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
49,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [28]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")


# Opening the IMDB website
driver.get("https://www.imdb.com/list/ls095964455/")

In [29]:
# Scraping the title of the webseries
title=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
# Scraping the year span of the webseries
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
# Scraping the genre of the webseries
genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
# Scraping the runtime of the webseries
runtime = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
# Scraping the tratings of the webseries
ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div[1]')
# Scraping the votes of the webseries
votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

#Making a list and storing all the scraped titles into it
Title=[]
for i in title:
    if i.text is None :
        Title.append("-") 
    else:
        Title.append(i.text)
#Making a list and storing all the scraped years into it
Year=[]    
for i in year:
    if i.text is None :
        Year.append("-") 
    else:
        Year.append(i.text)
#Making a list and storing all the scraped genres into it        
Genre=[]
for i in genre:
    if i.text is None :
        Genre.append("-") 
    else:
        Genre.append(i.text)
#Making a list and storing all the scraped runtime into it        
Runtime=[]
for i in runtime:
    if i.text is None :
        Runtime.append("-") 
    else:
        Runtime.append(i.text)
#Making a list and storing all the scraped ratingss into it        
Ratings=[]
for i in ratings:
    if i.text is None :
        Ratings.append("-") 
    else:
        Ratings.append(i.text)
#Making a list and storing all the scraped votes into it        
Votes=[]
for i in votes:
    if i.text is None :
        Votes.append("-") 
    else:
        Votes.append(i.text)

In [30]:
#Saving all the scraped data into a DataFrame
Series=pd.DataFrame({})
Series['Title']=Title 
Series['Year span']=Year
Series['Genre']=Genre
Series['Run time']=Runtime
Series['Ratings']=Ratings
Series['Votes']=Votes
#Viewing the DataFrame
Series

,Title,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,835,393"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"874,161"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"879,319"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,212"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,709"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,790"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,397"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,584"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,120"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,351"

10>Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code

In [31]:
# Lets first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")


# Opening the UCI machine learning website
driver.get("https://archive.ics.uci.edu/")

In [32]:
# Viewing all the datasets by passing xpath
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [33]:
#Scraping the data by passing xpath 
name = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]")
#Making a list and storing all the scraped names into it
Name=[]
for i in name:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
#Scraping the data by passing xpath         
datatype=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]")
#Making a list and storing all the scraped datatypes into it
Datatype=[]
for i in datatype:
    if i.text is None :
        Datatype.append("-") 
    else:
        Datatype.append(i.text)
#Scraping the data by passing xpath
task = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]")
#Making a list and storing all the scraped tasks into it
Task=[]
for i in task:
    if i.text is None :
        Task.append("-") 
    else:
        Task.append(i.text)
#Scraping the data by passing xpath
attribute_types = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]")
#Making a list and storing all the scraped attribute types into it
Attribute_types=[]
for i in attribute_types:
    if i.text is None :
        Attribute_types.append("-") 
    else:
        Attribute_types.append(i.text)
#Scraping the data by passing xpath
Instances_no = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]")
#Making a list and storing all the scraped instances number into it
Instances=[]
for i in Instances_no:
    if i.text is None :
        Instances.append("-") 
    else:
        Instances.append(i.text)
#Scraping the data by passing xpath
Attributes_no = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]")
#Making a list and storing all the scraped no. of attributes into it
Attributes=[]
for i in Attributes_no:
    if i.text is None :
        Attributes.append("-") 
    else:
        Attributes.append(i.text)
        
#Scraping the data by passing xpath
year = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]")
#Making a list and storing all the scraped years into it
Year=[]
for i in year:
    if i.text is None :
        Year.append("-") 
    else:
        Year.append(i.text)

In [34]:
#Checking the length of all the columns
print(len(Name),len(Datatype),len(Attribute_types),len(Instances),len(Attributes),len(Year))

589 589 589 589 589 589

In [35]:
#Saving all the scraped data into a DataFrame(UCI)
UCI=pd.DataFrame({})
UCI['Dataset Name']=Name
UCI['Data Type']=Datatype
UCI['Attribute Type']=Attribute_types
UCI['No of Instances']=Instances
UCI['No of Attribute']=Attributes
UCI['Year']=Year
#Viewing the DataFrame
UCI

,Dataset Name,Data Type,Attribute Type,No of Instances,No of Attribute,Year
0,Name,Data Types,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Categorical,37711,294,1998
...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,,12684,23,2020
585,Gait Classification,Multivariate,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Real,557,5,2021