# Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

first get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\91636\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\91636\anaconda3\lib\site-packages (from selenium) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium

In [3]:
from selenium import webdriver
driver = webdriver.Chrome()

In [4]:
driver=webdriver.Chrome("chromedriver.exe")

In [6]:
url="https://www.naukri.com/"
driver.get(url)

In [7]:
search_jobs=driver.find_element_by_xpath('//input[@ class ="sugInp"]')
search_jobs

In [8]:
search_jobs.send_keys('Data Scientist')

In [9]:
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location

In [10]:
search_location.send_keys('Bangaluru')

In [11]:
search_botton=driver.find_element_by_xpath('//button[@class="btn"]').click()

In [12]:
search_botton

In [13]:
job_title=[]

for i in driver.find_elements_by_xpath('//a[@ class ="title fw500 ellipsis"]'):

    job_title.append(i.text.replace('\n',''))

In [14]:
job_title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior / Lead Data Scientist',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist']

In [15]:
company_name=[]

for i in driver.find_elements_by_xpath('//a[@ class ="subTitle ellipsis fleft"]'):

    company_name.append(i.text.replace('\n',''))
    
company_name[:10]

['Inflexion Analytix Private Limited',
 'TVS CREDIT SERVICES LIMITED',
 'Global Talent Pool',
 'TalkValley LLC',
 'RedBus',
 'Morgan Stanley Advantage Services',
 'Walmart Labs',
 'ExecBoardinAsia',
 'Perform Group',
 'intelligent industrial internet systems pvt ltd.']

In [16]:


info=driver.find_elements_by_xpath('//span[@ class ="ellipsis fleft fs12 lh16"]')
info

[<selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="655b3c6b-b42c-4b67-a7f2-e608feb9fc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="4b85f4a7-0cac-4395-94f3-bb20c204744e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="c1d024ca-fc16-4fef-9910-7a6284123d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="1efb7f30-201c-494a-9158-970f15d75639")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="52120228-7d25-4f9b-8b97-94e6a3d4abc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="38b9c08f-b073-49d6-b0ff-3c72a2adc5e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="690abd32-5801-45b0-8ffe-9999df1ef7fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="0a918558-8406-4346-bcf7-6a29080364e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="2eb404b5-3692-4282-9c9a-f12876069746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="1131f91e-2095-462d-b2c1-503f15291998")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="0941c6aa-1474-403c-b321-c6386da3d6e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="770267b6-6c7d-4bc5-ab90-c2fa459d8817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="8d883ad3-aaa3-4b06-97e0-1889ca232524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="f50f1a6d-c559-46b4-a143-1255bcb72211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="d2916cce-b7df-46ca-8d41-d38b49015b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="d2b99f61-bcfb-4296-b1fa-25930d410d2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="2115e9c5-1802-4481-991c-034411696a75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="fddab941-9cfb-4190-8e43-0a47ce2a8739")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="0c3de030-9d13-4e1d-9d23-bc0a04abad1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="0b2d7e7f-1d19-47e1-b0b1-beed4712576d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="a3ac5dc0-d292-46c4-8a8c-77bf4b062007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="6a388c3d-8d62-4887-b565-f4447c719969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="9250c94d-540e-4b72-a73d-a5a97bac8c48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="c25a6343-f3f5-4a7c-8054-b470047c35e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="51480f91-1e62-4136-9876-225bf7ab8fe0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="43dcf420-f3b4-4aa2-b807-405226e40df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="70fb1e25-be2a-4856-81fc-00d4d2ea40e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="9f6b0ed7-c6d5-4bdd-9649-e470a4ed7b3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="b0f1b6d9-e430-4a59-a4ca-a0f402ec87e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="da795f84-91f2-4fc3-a61e-fb0ac119caf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="ed1b9d38-d779-4e7d-9a39-cb865bb4b705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="65752b8e-c3a8-4685-bd5d-8dfdf61eea35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="2b0736b2-45bf-4057-b02c-b9c2aba2f209")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="37dd59e5-ae83-453d-8248-937b44c0e354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="83298792-07a4-4ecf-a491-929da34b81f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="df43a01e-f612-4dd1-be57-979da2d3e2f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="2d75a227-2649-4ede-b51c-450399c16e1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="6397207c-cb80-41b7-96d8-5c3d2b9ca4f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="3a22becf-6207-49b7-a52f-7edc2d0027f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="27882274-8d88-4f4f-8115-a1218b6479e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="3b7221e0-448d-4080-b803-05e5443cb506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="7c01953d-0a3a-4ed7-a75a-f8ecfcea9f74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="5db69c28-2eca-4deb-bcf5-2e7f300970c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="51d8f958-af24-4fc3-b623-48c375f3ddc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="47d0b74e-c841-4c97-935a-d5d40cf5f4e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="f5ea2ec5-4b52-4192-97fc-80e8005b5802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="47d97981-0f30-4b98-8169-55911081bbc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="8e0ede1d-0c20-45bd-bca0-189dff50d074")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="12f1abfa-fe67-4201-9701-ff8adc7649a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="61f8f80a-d335-4aab-9040-50d3e391cec2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="c39c3a6a-005d-4773-b2d7-5434533bd010")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="41805ff6-67ab-41d5-a033-cffcc3a0002a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="214f1647-70d3-4510-93d0-18febdac46c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="a7c20753-c9dc-4de0-9768-f1b1be34f152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="95426fb2-b81f-4027-bcab-3a7ba2d54863")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="be45906c-43a5-4c6d-aafc-2689bde4a604")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="6130dc33-1a65-4fdd-b10d-34acaf9daced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="5111ce6a-2b6e-4275-9fd1-03331a9038ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="ec94e780-aa1f-41d5-8694-ca127da76ba4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac0395142004920173b6777f8b5187a0", element="351e93a0-791b-43b4-9da8-4a924225d273")>]

In [17]:
job_exp=[]
for i in info:
    if  'Yrs' in  i.text.strip():
        job_exp.append(i.text.strip())
job_exp[:10]

['0-3 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '8-13 Yrs',
 '8-10 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '3-6 Yrs']

In [18]:
job_salary=[]
for i in info:
    if  'Yrs' not in  i.text.strip():
        if '/' not in i.text.strip():
         job_salary.append(i.text.strip())
job_salary[:10]

['3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '2,00,000 - 3,00,000 PA.',
 'Not disclosed',
 '25,00,000 - 40,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,50,000 - 14,00,000 PA.']

In [19]:
job_location=[]
for i in info:
    if  'Not'   not in i.text.strip():
        if  'Yrs' not in  i.text.strip():
         if '-' not in i.text.strip():
          job_location.append(i.text.strip())
job_location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [20]:
import pandas as pd
jobs=pd.DataFrame({})

jobs['Titles']=job_title[:10]
jobs['Company names']=company_name[:10]
jobs['CTC']=job_salary[:10]
jobs['Location']=job_location[:10]
jobs['Experience Required']=job_exp[:10]

In [21]:
jobs

,Titles,Company names,CTC,Location,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"3,50,000 - 4,50,000 PA.","Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,Not disclosed,"Pune, Chennai, Bangalore/Bengaluru",3-8 Yrs
2,data scientist,Global Talent Pool,Not disclosed,Bangalore/Bengaluru,0-2 Yrs
3,Data analytics / Data scientist intern (work f...,TalkValley LLC,"2,00,000 - 3,00,000 PA.","Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
4,Senior Data Scientist,RedBus,Not disclosed,Bangalore/Bengaluru,5-8 Yrs
5,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,"25,00,000 - 40,00,000 PA.",Bangalore/Bengaluru,8-13 Yrs
6,Senior Data Scientist,Walmart Labs,Not disclosed,Bangalore/Bengaluru,8-10 Yrs
7,Senior Data Scientist,ExecBoardinAsia,Not disclosed,Bangalore/Bengaluru,5-10 Yrs
8,Senior Data Scientist,Perform Group,Not disclosed,Bangalore/Bengaluru,4-7 Yrs
9,Sr Data Scientist,intelligent industrial internet systems pvt ltd.,"5,50,000 - 14,00,000 PA.","Bangalore/Bengaluru, Mumbai (All Areas)",3-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done 
manually

In [84]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [85]:
from selenium.common.exceptions import NoSuchElementException

In [86]:
from selenium import webdriver
driver = webdriver.Chrome()

In [87]:
url="https://www.naukri.com/"
driver.get(url)

In [88]:
search_jobs=driver.find_element_by_xpath('//input[@ class ="sugInp"]')
search_jobs

In [89]:
search_jobs.send_keys('Data Scientist')

In [90]:
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location

In [91]:
search_location.send_keys('Bangaluru')

In [92]:
search_botton=driver.find_element_by_xpath('//button[@class="btn"]').click()

In [93]:
search_botton

In [94]:
job_title=[]

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):

   job_title.append(i.text.replace('\n',''))
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior / Lead Data Scientist',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist (Marketplace)',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist (Visualization)',
 'Data Scientist',
 'Lead Data Scientist']

In [95]:
info=driver.find_elements_by_xpath('//span[@ class ="ellipsis fleft fs12 lh16"]')
info

[<selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="9b366c4d-c0b1-42b3-80d2-9a23e0c72831")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="ae37dbef-ad91-497b-8157-6df63351c597")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="7e9885ee-a7bb-4f15-9296-125f5b54db77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="1ecf8245-70f1-4182-9ade-e8b2e2f57325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="d1e4099b-2dd2-466f-9c78-a0276fec4688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="188c9a20-5a28-4902-9eb4-70ef5da40e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="cec8caa0-695b-475e-b84c-2d42bc0ac53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="b879bf7b-f8d1-4f54-95bd-c534d5652766")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="d6673246-844f-4f53-833b-b5f626400d7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="fdc47b60-7aa4-4dba-9500-26671148b182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="8aeaf704-b438-451c-84b9-fbfff71a82b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="11cccf4b-14dc-4e45-862a-8d8df60cea30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="0dfda52e-4ac2-4f87-9dd8-ee34cd1e7403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="02b7a634-84cf-4105-9b7f-60bfb9cb354a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="1cefdc46-b049-4df6-9dbc-1c915a9ffe31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="2e4325e1-da72-426f-ad46-e739081deb5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="61c6482f-299f-4510-97ca-6d23f8267d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="2d1d7ed1-1525-4ad9-8649-e53b7d20e284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="fc69a0e4-884e-4e8f-848e-94a403e1303c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="18207227-2273-4c50-943a-cc7aa6fe9568")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="13c3e07f-fed2-4c85-b92d-efac48935529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="c5268c7b-bb2a-4e2e-ab68-635352a74a97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="376abac8-fbab-42fd-8e5d-9129fddb4e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="91485a20-9e39-4ed0-ab47-fdb85200da7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="4d224d92-ca32-4637-95e4-1654729646ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="aabb71c2-8e85-4f5f-bc0b-2bbc3e0424b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="5cd3262c-51c0-4b43-a54a-8aaf335733e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="da7bab3e-e7a5-4dda-b084-646e6fbb766d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="e7fcb28e-1d0d-4ffd-8aa2-dcfcda299031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="fd8a3317-97da-4872-8ef2-f829916ff5fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="758118c3-54d9-4546-944d-aaee7e377425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="db7f8684-9f34-454d-a379-ffa4ebb9c108")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="d1626ded-7e59-4823-8c67-4e20d1128717")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="0ae3a3ae-8359-4591-a2ec-5d7e0f175100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="958bb6c5-7f5a-4017-9255-7bad226b891b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="84b9d025-6945-4fd2-b9f7-cc25e8a20015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="687080d8-a25f-448a-a9c4-b8231ee8793d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="fead324c-932e-4e7b-b7a3-643941f35bbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="6d48573a-4b07-48b4-b835-a102070b2698")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="f0ce8502-8324-4878-b7cc-f875bbe9cb5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="c275e86a-08ac-4940-a51c-f16d88ee8151")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="f6e14b99-838b-4213-a05f-c1258f486e3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="56992cae-bca2-4721-83b7-af50c56eb519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="300b20aa-3d19-409d-b4ed-5a672d4bae41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="463ec94e-28b7-4c9c-8284-4ff2410813ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="b04b60cd-7128-444d-a093-ffb5520f6b65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="91e4788f-7d19-4dca-9f0b-5e5cbada7389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="514f651c-805d-4e93-af57-5da45e46ef78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="1850fa96-0750-40f1-b2f4-d195a7f12796")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="da6e3f3f-5a6d-4960-b21a-d3e90b8efc29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="63359589-c908-428c-8125-4d4451fbb7a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="29262c23-a852-4505-87bd-1bd838905018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="82fe066e-4fe7-46f8-9958-af24090e8828")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="e44a70bd-a597-45df-bdb1-5655796baf4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="6eb81cdb-7691-4de4-86f9-e46b5037ca4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="12afdaa0-345d-4f5f-a57a-b5cc2b9d7d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="bae5cf66-f0b7-451d-977e-3aa65ac2c9e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="bb6ead51-0e1f-4641-bfbe-5988d0ff3871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="39e5d0a7-b8e3-44b3-a208-4c11290e156e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0970959056545afbe40d2d5890e1025a", element="257557ac-501d-45cb-95b7-9ebd7ed5b04b")>]

In [96]:
job_location=[]
for i in info:
    if  'Not'   not in i.text.strip():
        if  'Yrs' not in  i.text.strip():
         if '-' not in i.text.strip():
          job_location.append(i.text.strip())
job_location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [97]:
company_name=[]

for i in driver.find_elements_by_xpath('//a[@ class ="subTitle ellipsis fleft"]'):

    company_name.append(i.text.replace('\n',''))
    
company_name[:10]

['Inflexion Analytix Private Limited',
 'TVS CREDIT SERVICES LIMITED',
 'Global Talent Pool',
 'TalkValley LLC',
 'RedBus',
 'Morgan Stanley Advantage Services',
 'Walmart Labs',
 'ExecBoardinAsia',
 'Perform Group',
 'intelligent industrial internet systems pvt ltd.']

In [99]:
import pandas as pd
jobtab=pd.DataFrame({})

jobtab['Titles']=job_title[:10]
jobtab['Company names']=company_name[:10]
jobtab['Location']=job_location[:10]

In [100]:
jobtab

,Titles,Company names,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru"
2,data scientist,Global Talent Pool,Bangalore/Bengaluru
3,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
4,Senior Data Scientist,RedBus,Bangalore/Bengaluru
5,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,Bangalore/Bengaluru
6,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru
7,Senior Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru
8,Senior Data Scientist,Perform Group,Bangalore/Bengaluru
9,Sr Data Scientist,intelligent industrial internet systems pvt ltd.,"Bangalore/Bengaluru, Mumbai (All Areas)"

In [34]:
url=[]

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
  url.append(i.get_attribute('href'))
url

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16236001208405074&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-tvs-credit-services-limited-pune-chennai-bangalore-bengaluru-3-to-8-years-261220002239?src=jobsearchDesk&sid=16236001208405074&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-global-talent-pool-bangalore-bengaluru-0-to-2-years-310521500397?src=jobsearchDesk&sid=16236001208405074&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16236001208405074&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16236001208405074&xp=5&px=1',
 'https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16236001208405074&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16236001208405074&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16236001208405074&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-perform-group-bangalore-bengaluru-4-to-7-years-310521501774?src=jobsearchDesk&sid=16236001208405074&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-intelligent-industrial-internet-systems-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-030621003155?src=jobsearchDesk&sid=16236001208405074&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-5-to-9-years-310521500781?src=jobsearchDesk&sid=16236001208405074&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16236001208405074&xp=12&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16236001208405074&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-020621905994?src=jobsearchDesk&sid=16236001208405074&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-030621907010?src=jobsearchDesk&sid=16236001208405074&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16236001208405074&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16236001208405074&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-visualization-aruba-networks-bangalore-bengaluru-4-to-8-years-090621501101?src=jobsearchDesk&sid=16236001208405074&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-3-to-7-years-070621501457?src=jobsearchDesk&sid=16236001208405074&xp=19&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-310521500918?src=jobsearchDesk&sid=16236001208405074&xp=20&px=1']

In [36]:
len(url)

20

In [39]:
import time

In [68]:
job_description1=[]

In [69]:
for i in url[:10]:
    driver.get(i)
    time.sleep(3)

    try:
     job_desc=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
     job_description1.append(job_desc.text)
    
    except NoSuchElementException :
     job_description1.append('-')

In [70]:
len(job_description1)

10

In [71]:
df1=pd.DataFrame({"Demo":job_description})
df1

                                                 Demo
0   Roles and Responsibilities\n- Create an indust...
1   Roles and Responsibilities\n- Create an indust...
2   Job Role : Data Scientist/Data Analyst /Busine...
3   Key Responsibilities\nBe responsible for scali...
4   Essential Duties Responsibilities\nPerform bas...
5   We are a group of tenured professors from Tier...
6                                                   -
7   About Us\nMorgan Stanley is a leading global f...
8   As a Senior Data Scientist for Walmart Labs, y...
9   The Senior Data Scientist is an exciting role ...
10  Responsibilities: -\nContribute across dierent...
11  Roles and Responsibilities\n- Create an indust...

In [106]:
jobtab['job_description']=df1['Demo']

In [107]:
jobtab

,Titles,Company names,Location,job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Roles and Responsibilities\n- Create an indust...
1,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru",Roles and Responsibilities\n- Create an indust...
2,data scientist,Global Talent Pool,Bangalore/Bengaluru,Job Role : Data Scientist/Data Analyst /Busine...
3,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Key Responsibilities\nBe responsible for scali...
4,Senior Data Scientist,RedBus,Bangalore/Bengaluru,Essential Duties Responsibilities\nPerform bas...
5,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,Bangalore/Bengaluru,We are a group of tenured professors from Tier...
6,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,-
7,Senior Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,About Us\nMorgan Stanley is a leading global f...
8,Senior Data Scientist,Perform Group,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart Labs, y..."
9,Sr Data Scientist,intelligent industrial internet systems pvt ltd.,"Bangalore/Bengaluru, Mumbai (All Areas)",The Senior Data Scientist is an exciting role ...

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field

In [113]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [114]:
url="https://www.naukri.com/"
driver.get(url)

In [115]:
search_jobs=driver.find_element_by_xpath('//input[@ class ="sugInp"]')
search_jobs

In [116]:
search_jobs.send_keys('Data Scientist')

In [117]:
search_botton=driver.find_element_by_xpath('//button[@class="btn"]').click()

In [120]:
loc=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]').click()

In [121]:
salary=driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]').click()

In [122]:
job_title=[]

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):

   job_title.append(i.text.replace('\n',''))
job_title[:10]

['Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Hiring For Data Scientist @ Prodapt Solutions',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [126]:
job_location=[]

for i in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]'):
    if  'Not'   not in i.text.strip():
        if  'Yrs' not in  i.text.strip():
         if '-' not in i.text.strip():
          job_location.append(i.text.strip())
job_location [:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR']

In [127]:
company_name=[]

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):

  company_name.append(i.text.replace('\n',''))
company_name[:10]

['Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Hiring For Data Scientist @ Prodapt Solutions',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [159]:
exp2=[]

In [160]:
for i in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]'):
    if  'Yrs' in  i.text.strip():
        exp2.append(i.text.strip())
exp2[:10]

['0-3 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs']

In [164]:
df1=pd.DataFrame({"EXP":exp2})
df1[:10]

        EXP
0   0-3 Yrs
1   0-5 Yrs
2   3-7 Yrs
3   0-5 Yrs
4   3-5 Yrs
5   4-7 Yrs
6  5-10 Yrs
7   3-5 Yrs
8   3-7 Yrs
9   1-3 Yrs

In [148]:
import pandas as pd
jobtab1=pd.DataFrame({})

jobtab1['Titles']=job_title[:10]
jobtab1['Company names']=company_name[:10]
jobtab1['Location']=job_location[:10]

In [149]:
jobtab1

,Titles,Company names,Location
0,Data analytics / Data scientist intern (work f...,Data analytics / Data scientist intern (work f...,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,Data Scientist,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
2,Chaayos is Looking For Data Scientist,Chaayos is Looking For Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Junior Data Scientist,Junior Data Scientist,New Delhi
4,We are hiring- Data Scientist +Python- Noida,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Hiring For Data Scientist @ Prodapt Solutions,Hiring For Data Scientist @ Prodapt Solutions,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
6,Data Scientist - High growth VC backed Influen...,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
7,Data Scientist,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Data Scientist,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
9,Data Scientist,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR"

In [167]:
jobtab1['exp']=df1['EXP'][:10]

In [168]:
jobtab1

,Titles,Company names,Location,exp
0,Data analytics / Data scientist intern (work f...,Data analytics / Data scientist intern (work f...,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Scientist,Data Scientist,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
2,Chaayos is Looking For Data Scientist,Chaayos is Looking For Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Junior Data Scientist,Junior Data Scientist,New Delhi,0-5 Yrs
4,We are hiring- Data Scientist +Python- Noida,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
5,Hiring For Data Scientist @ Prodapt Solutions,Hiring For Data Scientist @ Prodapt Solutions,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",4-7 Yrs
6,Data Scientist - High growth VC backed Influen...,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",5-10 Yrs
7,Data Scientist,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs
8,Data Scientist,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",3-7 Yrs
9,Data Scientist,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",1-3 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:

In [170]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [171]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [172]:
search_jobs=driver.find_element_by_xpath('//input[@ id ="sc.keyword"]')
search_jobs

In [173]:
search_jobs.send_keys('Data Scientist')

In [174]:
search_location=driver.find_element_by_xpath('//input[@ id ="sc.location"]')
search_location

In [176]:
search_location.send_keys('Noida')

In [177]:
search_botton=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]').click()

In [181]:
company_name=[]

for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]'):
     company_name.append(i.text.replace('\n',''))
company_name[:10]

['Colgate-Palmolive',
 'Applied Materials Inc.',
 'ServiceNow',
 'Microsoft',
 'Tata Group',
 'OM Software Pvt Ltd',
 'Siemens Technology and Services Private Limited',
 'MakeMyTrip',
 'ADCI PNQ 13 SEZ',
 'MasterCard']

In [189]:
Ratings=[]

for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
    Ratings.append(i.text)
Ratings[:10]

['4.3', '4.0', '4.3', '4.4', '3.9', '4.3', '4.1', '4.3', '4.3', '4.3']

In [183]:
days_posted=[]

for i in driver.find_elements_by_xpath('//div[@data-test="job-age"]'):
    days_posted.append(i.text)
days_posted[:10]

['19d', '3d', '17d', '8d', '24h', '10d', '15d', '22d', '3d', '19d']

In [184]:
df4=pd.DataFrame({"jobage":days_posted})
df4[:10]

  jobage
0    19d
1     3d
2    17d
3     8d
4    24h
5    10d
6    15d
7    22d
8     3d
9    19d

In [191]:
import pandas as pd
jobtab4=pd.DataFrame({})

jobtab4['Organization_name']=company_name[:10]
jobtab4['Ratings']=Ratings[:10]

In [192]:
jobtab4

                                 Organization_name Ratings
0                                Colgate-Palmolive     4.3
1                           Applied Materials Inc.     4.0
2                                       ServiceNow     4.3
3                                        Microsoft     4.4
4                                       Tata Group     3.9
5                              OM Software Pvt Ltd     4.3
6  Siemens Technology and Services Private Limited     4.1
7                                       MakeMyTrip     4.3
8                                  ADCI PNQ 13 SEZ     4.3
9                                       MasterCard     4.3

In [193]:
jobtab4['jobage']=df4['jobage']

In [194]:
jobtab4

                                 Organization_name Ratings jobage
0                                Colgate-Palmolive     4.3    19d
1                           Applied Materials Inc.     4.0     3d
2                                       ServiceNow     4.3    17d
3                                        Microsoft     4.4     8d
4                                       Tata Group     3.9    24h
5                              OM Software Pvt Ltd     4.3    10d
6  Siemens Technology and Services Private Limited     4.1    15d
7                                       MakeMyTrip     4.3    22d
8                                  ADCI PNQ 13 SEZ     4.3     3d
9                                       MasterCard     4.3    19d

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page 
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [375]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [376]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [377]:
search_jobs=driver.find_element_by_xpath('//input[@ id="KeywordSearch"]')
search_jobs

In [379]:
search_jobs.send_keys('Data Scientist')

In [380]:
search_location=driver.find_element_by_xpath('//input[@ id="LocationSearch"]')
search_location

In [381]:
search_location.send_keys('Noida')

In [382]:
search_botton=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()

In [383]:
Name=[]

for i in driver.find_elements_by_xpath('//div[@data-test="job-info"]/p[2]'):
    Name.append(i.text)
Name[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Optum Global Solutions',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service']

In [385]:
numberofsalary=[]

for i in driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]'):
    numberofsalary.append(i.text)
numberofsalary[:10]

['17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries']

In [234]:
salary=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]'):
    salary.append(i.text)

salary[:10]

['₹ 6,15,289\n/yr',
 '₹ 9,00,000\n/yr',
 '₹ 11,48,366\n/yr',
 '₹ 7,39,238\n/yr',
 '₹ 12,41,763\n/yr',
 '₹ 13,38,279\n/yr',
 '₹ 13,28,697\n/yr',
 '₹ 8,16,495\n/yr',
 '₹ 11,42,356\n/yr',
 '₹ 11,46,073\n/yr']

In [246]:
minmax=[]

for i in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]'):
    minmax.append(i.text.replace('\n','Minimum------- Maxup to'))

minmax[:10]

['₹343KMinimum------- Maxup to₹1,250K',
 '₹587KMinimum------- Maxup to₹2,734K',
 '₹578KMinimum------- Maxup to₹2,217K',
 '₹355KMinimum------- Maxup to₹1,615K',
 '₹451KMinimum------- Maxup to₹11,640K',
 '₹1,071KMinimum------- Maxup to₹1,523K',
 '₹350KMinimum------- Maxup to₹2,152K',
 '₹502KMinimum------- Maxup to₹1,467K',
 '₹202KMinimum------- Maxup to₹1,812K',
 '₹576KMinimum------- Maxup to₹1,523K']

In [386]:
import pandas as pd
jobtab5=pd.DataFrame({})

jobtab5['Company name']=Name[:10]
jobtab5['Average salary']=salary[:10]
jobtab5['No of salary fetched']=numberofsalary[:10]
jobtab5['minand max salary']=minmax[:10]

In [387]:
jobtab5

,Company name,Average salary,No of salary fetched,minand max salary
0,Tata Consultancy Services,"₹ 6,15,289\n/yr",17 salaries,"₹343KMinimum------- Maxup to₹1,250K"
1,IBM,"₹ 9,00,000\n/yr",15 salaries,"₹587KMinimum------- Maxup to₹2,734K"
2,Accenture,"₹ 11,48,366\n/yr",14 salaries,"₹578KMinimum------- Maxup to₹2,217K"
3,Ericsson-Worldwide,"₹ 7,39,238\n/yr",14 salaries,"₹355KMinimum------- Maxup to₹1,615K"
4,Delhivery,"₹ 12,41,763\n/yr",14 salaries,"₹451KMinimum------- Maxup to₹11,640K"
5,UnitedHealth Group,"₹ 13,38,279\n/yr",11 salaries,"₹1,071KMinimum------- Maxup to₹1,523K"
6,Optum Global Solutions,"₹ 13,28,697\n/yr",9 salaries,"₹350KMinimum------- Maxup to₹2,152K"
7,Valiance Solutions,"₹ 8,16,495\n/yr",9 salaries,"₹502KMinimum------- Maxup to₹1,467K"
8,ZS Associates,"₹ 11,42,356\n/yr",8 salaries,"₹202KMinimum------- Maxup to₹1,812K"
9,EXL Service,"₹ 11,46,073\n/yr",8 salaries,"₹576KMinimum------- Maxup to₹1,523K"

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and 
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page 
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of 
the page , then click on itWEB SCRAPING ASSIGNMENT-2
.
5. Now scrape data from this page as us

In [272]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [273]:
url=" https://www.flipkart.com/"
driver.get(url)

In [277]:
 try:
     search_box=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')
    
except NoSuchElementException :
  search_box='na'

In [280]:
search_box.send_keys('sunglasses')

In [282]:
search_botton=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [283]:
search_botton

In [321]:
driver.get('https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1')

In [331]:
for i in range(3):
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [332]:


B1=[]
for i in range(10):
 for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):

   B1.append(i.text.replace('\n',''))
   
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [335]:
B=B[:100]
B

['PIRASO',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PHENOMENAL',
 'DEIXELS',
 'Fastrack',
 'HIPPON',
 'PIRASO',
 'GANSTA',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'Fastrack',
 'Fastrack',
 'elegante',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'hipe',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'NuVew',
 'PHENOMENAL',
 'NuVew',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Poland',
 'GANSTA',
 'hipe',
 'hipe',
 'Fastrack',
 'PHENOMENAL',
 'NuVew',
 'Singco India',
 'Fastrack',
 'DEIXELS',
 'NuVew',
 'Flizz',
 'NuVew',
 'NuVew',
 'DEIXELS',
 'Fastrack',
 'Cristiano Ronnie',
 'hipe',
 'Singco',
 'GANSTA',
 'ROYAL SON',
 'NuVew',
 'PHENOMENAL',
 'Fastrack',
 'NuVew',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'NuVew',
 'ROYAL SON',
 'PIRASO',
 'Billion',
 'ROYAL SON',
 'GANSTA',
 'Fravy',
 'NuVew',
 'NuVew',
 'Silver Kartz',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PHENOMENAL',
 'DEIXELS',
 'Fastrack',
 'HIPPON',
 'PIRASO',
 'GANSTA',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'Fastrack',
 'Fastrack']

In [336]:
len(B)

100

In [337]:
PD=[]
for i in range(10):
 for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):

   PD.append(i.text.replace('\n',''))


 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)
 
PD

['UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Gradient, Riding Glasses Aviator Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Gradient, Riding Glasses Aviator Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Gradient, Riding Glasses Aviator Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Gradient, Riding Glasses Aviator Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Gradient, Riding Glasses Aviator Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',

In [340]:
PD=PD[:100]

In [341]:
len(PD)

100

In [339]:
P=[]
for i in range(3):
 for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):

   P.append(i.text.replace('\n',''))

driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)
P

['₹199',
 '₹576',
 '₹399',
 '₹311',
 '₹198',
 '₹606',
 '₹219',
 '₹248',
 '₹399',
 '₹364',
 '₹366',
 '₹224',
 '₹721',
 '₹399',
 '₹219',
 '₹227',
 '₹263',
 '₹711',
 '₹204',
 '₹319',
 '₹589',
 '₹156',
 '₹331',
 '₹738',
 '₹199',
 '₹237',
 '₹319',
 '₹331',
 '₹234',
 '₹319',
 '₹296',
 '₹296',
 '₹206',
 '₹367',
 '₹284',
 '₹547',
 '₹499',
 '₹600',
 '₹398',
 '₹298',
 '₹199',
 '₹576',
 '₹399',
 '₹311',
 '₹198',
 '₹606',
 '₹219',
 '₹248',
 '₹399',
 '₹364',
 '₹366',
 '₹224',
 '₹721',
 '₹399',
 '₹219',
 '₹227',
 '₹263',
 '₹711',
 '₹204',
 '₹319',
 '₹589',
 '₹156',
 '₹331',
 '₹738',
 '₹199',
 '₹237',
 '₹319',
 '₹331',
 '₹234',
 '₹319',
 '₹296',
 '₹296',
 '₹206',
 '₹367',
 '₹284',
 '₹547',
 '₹499',
 '₹600',
 '₹398',
 '₹298',
 '₹199',
 '₹576',
 '₹399',
 '₹311',
 '₹198',
 '₹606',
 '₹219',
 '₹248',
 '₹399',
 '₹364',
 '₹366',
 '₹224',
 '₹721',
 '₹399',
 '₹219',
 '₹227',
 '₹263',
 '₹711',
 '₹204',
 '₹319',
 '₹589',
 '₹156',
 '₹331',
 '₹738',
 '₹199',
 '₹237',
 '₹319',
 '₹331',
 '₹234',
 '₹319',
 '₹296',
 '₹296',
 '₹206',
 '₹367',
 '₹284',
 '₹547',
 '₹499',
 '₹600',
 '₹398',
 '₹298']

In [342]:
P=P[:100]

In [343]:
len(P)

100

In [344]:
D=[]
for i in range(3):
 for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):

   D.append(i.text.replace('\n',''))
driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)
D

['85% off',
 '85% off',
 '32% off',
 '85% off',
 '79% off',
 '36% off',
 '80% off',
 '82% off',
 '21% off',
 '79% off',
 '85% off',
 '85% off',
 '79% off',
 '81% off',
 '87% off',
 '78% off',
 '77% off',
 '83% off',
 '28% off',
 '22% off',
 '68% off',
 '73% off',
 '22% off',
 '78% off',
 '85% off',
 '82% off',
 '31% off',
 '78% off',
 '81% off',
 '79% off',
 '81% off',
 '78% off',
 '85% off',
 '80% off',
 '84% off',
 '87% off',
 '77% off',
 '67% off',
 '85% off',
 '83% off',
 '85% off',
 '85% off',
 '32% off',
 '85% off',
 '79% off',
 '36% off',
 '80% off',
 '82% off',
 '21% off',
 '79% off',
 '85% off',
 '85% off',
 '79% off',
 '81% off',
 '87% off',
 '78% off',
 '77% off',
 '83% off',
 '28% off',
 '22% off',
 '68% off',
 '73% off',
 '22% off',
 '78% off',
 '85% off',
 '82% off',
 '31% off',
 '78% off',
 '81% off',
 '79% off',
 '81% off',
 '78% off',
 '85% off',
 '80% off',
 '84% off',
 '87% off',
 '77% off',
 '67% off',
 '85% off',
 '83% off',
 '85% off',
 '85% off',
 '32% off',
 '85% off',
 '79% off',
 '36% off',
 '80% off',
 '82% off',
 '21% off',
 '79% off',
 '85% off',
 '85% off',
 '79% off',
 '81% off',
 '87% off',
 '78% off',
 '77% off',
 '83% off',
 '28% off',
 '22% off',
 '68% off',
 '73% off',
 '22% off',
 '78% off',
 '85% off',
 '82% off',
 '31% off',
 '78% off',
 '81% off',
 '79% off',
 '81% off',
 '78% off',
 '85% off',
 '80% off',
 '84% off',
 '87% off',
 '77% off',
 '67% off',
 '85% off',
 '83% off']

In [345]:
D=D[:100]

In [346]:
len(D)

100

In [389]:
import pandas as pd
jobtab6=pd.DataFrame({})

jobtab6['brand name']=B[:10]
jobtab6['product desc']=PD[:10]
jobtab6['price']=P[:10]
jobtab6['discount']=D[:10]

In [390]:
jobtab6

,brand name,product desc,price,discount
0,PIRASO,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹199,85% off
1,PIRASO,UV Protection Wrap-around Sunglasses (Free Size),₹576,85% off
2,Fastrack,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,32% off
3,PIRASO,"UV Protection, Mirrored Sports Sunglasses (73)",₹311,85% off
4,ROZZETTA CRAFT,"UV Protection, Riding Glasses, Others Aviator,...",₹198,79% off
5,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹606,36% off
6,PHENOMENAL,UV Protection Round Sunglasses (Free Size),₹219,80% off
7,DEIXELS,UV Protection Aviator Sunglasses (58),₹248,82% off
8,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹399,21% off
9,HIPPON,"UV Protection, Gradient, Night Vision, Mirrore...",₹364,79% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [104]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [105]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [106]:
import time

In [115]:
for i in range(10):
    try:
     driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
     time.sleep(1)
    
    except NoSuchElementException :
      print('na')

In [116]:
R4=[]
for i in range(10):
 for i in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
   R4.append(i.text.replace('\n',''))

driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)

R4

['5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5']

In [117]:
len(R4)

100

In [118]:
Review=[]
for i in range(10):
 for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
   Review.append(i.text.replace('\n',''))


driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)

Review

['Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Nice product',
 'Terrific',
 'Classy product',
 'Highly recommended',
 'Wonderful',
 'Brilliant']

In [119]:
len(Review)

100

In [120]:
full_Review=[]
for i in range(10):
 for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
   full_Review.append(i.text.replace('\n',''))

driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)

full_Review

['The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',

In [121]:
len(full_Review)

100

In [122]:
import pandas as pd
iph6=pd.DataFrame({})

iph6['Ratings']=R4
iph6['Review_summery']=Review
iph6['full_Review']=full_Review

In [123]:
iph6

,Ratings,Review_summery,full_Review
0,5,Perfect product!,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Highly recommended,Amazing phone with great cameras and better ba...
2,5,Simply awesome,Amazing Powerful and Durable Gadget.I’m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Nice product,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Terrific,So far it’s been an AMAZING experience coming ...
96,5,Classy product,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,It’s a must buy who is looking for an upgrade ...
98,5,Wonderful,Value for money❤️❤️Its awesome mobile phone in...
99,5,Brilliant,Best budget Iphone till date ❤️ go for it guys...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes

In [48]:
driver = webdriver.Chrome()
driver=webdriver.Chrome("chromedriver.exe")

In [49]:
url=" https://www.flipkart.com/"
driver.get(url)

In [50]:
 try:
     search_box=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')
    
except NoSuchElementException :
  search_box='na'

In [51]:
search_box.send_keys('sneakers ')

In [52]:
search_botton=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [53]:
for i in range(3):
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [151]:
Brand=[]
for i in range(3):
 for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):

   Brand.append(i.text.replace('\n',''))
   
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)
    
Brand

['PEHANOSA',
 'India hub',
 'ORICUM',
 'tigonis',
 'Robbie jones',
 'CALCADOS',
 'Shoes Bank',
 'ADIDAS',
 '3SIX5',
 'bluemaker',
 'TR',
 'otoos',
 'VIPSJAZZY',
 'Kraasa',
 'Alfiya',
 'BLACK BOTTOM',
 'Stefano Rads',
 'HOTSTYLE',
 'Chevit',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'SCATCHITE',
 'PUMA',
 'Absolute comfort',
 'ESSENCE',
 'Chevit',
 'RED TAPE',
 'Birde',
 'restinfoot',
 'Aura',
 'Echor',
 'KULP',
 'D-SNEAKERZ',
 'Nilatin',
 'SUSON',
 'Zsyto',
 'Arohi',
 'Robbie jones',
 'PUMA',
 'Robbie jones',
 'World Wear Footwear',
 'Birde',
 'PEHANOSA',
 'SWIGGY',
 'India hub',
 'Chevit',
 'TR',
 'Zorth',
 'Chevit',
 'Robbie jones',
 'U.S. POLO ASSN.',
 'bluemaker',
 'ASTEROID',
 'HOC',
 'JUBENTA',
 'HOTSTYLE',
 'warships',
 'World Wear Footwear',
 'India hub',
 'kardam&sons',
 'ORICUM',
 'Axter',
 'Echor',
 'Chevit',
 'SPARX',
 'bluemaker',
 'Robbie jones',
 'Ktiz',
 'LEATHERKRAFT',
 'ESSENCE',
 'Robbie jones',
 'BLACK BOTTOM',
 'World Wear Footwear',
 'ESSENCE',
 'CALCADOS',
 'Magnolia',
 'Chevit',
 'D-SNEAKERZ',
 'Echor',
 'PEHANOSA',
 'India hub',
 'ORICUM',
 'tigonis',
 'Robbie jones',
 'CALCADOS',
 'Shoes Bank',
 'ADIDAS',
 '3SIX5',
 'bluemaker',
 'TR',
 'otoos',
 'VIPSJAZZY',
 'Kraasa',
 'Alfiya',
 'BLACK BOTTOM',
 'Stefano Rads',
 'HOTSTYLE',
 'Chevit',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'SCATCHITE',
 'PUMA',
 'Absolute comfort',
 'ESSENCE',
 'Chevit',
 'RED TAPE',
 'Birde',
 'restinfoot',
 'Aura',
 'Echor',
 'KULP',
 'D-SNEAKERZ',
 'Nilatin',
 'PUMA',
 'Zsyto',
 'Arohi',
 'Robbie jones',
 'PUMA']

In [153]:
len(Brand)

120

In [154]:
B=Brand[:100]
B

['PEHANOSA',
 'India hub',
 'ORICUM',
 'tigonis',
 'Robbie jones',
 'CALCADOS',
 'Shoes Bank',
 'ADIDAS',
 '3SIX5',
 'bluemaker',
 'TR',
 'otoos',
 'VIPSJAZZY',
 'Kraasa',
 'Alfiya',
 'BLACK BOTTOM',
 'Stefano Rads',
 'HOTSTYLE',
 'Chevit',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'SCATCHITE',
 'PUMA',
 'Absolute comfort',
 'ESSENCE',
 'Chevit',
 'RED TAPE',
 'Birde',
 'restinfoot',
 'Aura',
 'Echor',
 'KULP',
 'D-SNEAKERZ',
 'Nilatin',
 'SUSON',
 'Zsyto',
 'Arohi',
 'Robbie jones',
 'PUMA',
 'Robbie jones',
 'World Wear Footwear',
 'Birde',
 'PEHANOSA',
 'SWIGGY',
 'India hub',
 'Chevit',
 'TR',
 'Zorth',
 'Chevit',
 'Robbie jones',
 'U.S. POLO ASSN.',
 'bluemaker',
 'ASTEROID',
 'HOC',
 'JUBENTA',
 'HOTSTYLE',
 'warships',
 'World Wear Footwear',
 'India hub',
 'kardam&sons',
 'ORICUM',
 'Axter',
 'Echor',
 'Chevit',
 'SPARX',
 'bluemaker',
 'Robbie jones',
 'Ktiz',
 'LEATHERKRAFT',
 'ESSENCE',
 'Robbie jones',
 'BLACK BOTTOM',
 'World Wear Footwear',
 'ESSENCE',
 'CALCADOS',
 'Magnolia',
 'Chevit',
 'D-SNEAKERZ',
 'Echor',
 'PEHANOSA',
 'India hub',
 'ORICUM',
 'tigonis',
 'Robbie jones',
 'CALCADOS',
 'Shoes Bank',
 'ADIDAS',
 '3SIX5',
 'bluemaker',
 'TR',
 'otoos',
 'VIPSJAZZY',
 'Kraasa',
 'Alfiya',
 'BLACK BOTTOM',
 'Stefano Rads',
 'HOTSTYLE',
 'Chevit',
 'PUMA']

In [155]:
len(B)

100

In [67]:
for i in range(4):
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [107]:
Product_desc_2=[]

for i in driver.find_elements_by_xpath('//a[@target="_blank"]'):
    if  '%'   not in i.text.strip():
        
         Product_desc_2.append(i.text)

Product_desc_2

['',
 'Sneakers For Men',
 '',
 'Fashionable casual sneakers shoes Sneakers For Men',
 '',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 '',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 '',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 '',
 'Fashionable casual sneakers shoes Sneakers For Men',
 '',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 '',
 'casual for men (blue 06) Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 '',
 'Sneakers For Men',
 'Trending',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 '',
 'Series 7 Sneakers For Men',
 '',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 '',
 'Classy Sneakers For Men',
 '',
 'Sneakers Sneakers For Men',
 '',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 '',
 'Icon IDP Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Sneakers Sneakers For Men',
 '',
 'Sneakers Sneakers For Men',
 '',
 'Gym/Walking/Running Sneakers For Men',
 '',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 '',
 'SOFT Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 '',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 '',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 '',
 'Urban SL Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '',
 'White Sneaker for Men Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Sneakers For Men',
 '',
 'Classic Sneakers For Men',
 'Flipkart Wholesale',
 '']

So   1st page we got 40 review

In [110]:
  
    
    
Product_desc_3=[]
for i in range(3):
  for i in driver.find_elements_by_xpath('//a[@target="_blank"]'):
    if  '%'   not in i.text.strip():
        if 'Sneakers' in i.text.strip():
         Product_desc_3.append(i.text)


driver.find_element_by_xpath('//a[@target="_blank"]').click()
time.sleep(2)


Product_desc_3

['Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Urban SL Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Urban SL Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Urban SL Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men']

In [113]:
Product_desc_3=Product_desc_3[:100]
Product_desc_3

['Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Urban SL Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Urban SL Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Icon IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SOFT Sneakers For Men']

# Fetching snekeer price ,  length issue so 3 page we will fetch differently and append ,from 3 page each page having 40 , 40, 40 data but in this question we are facing huge length issue because first page bottom line product also coming what ever xpath we are using so basically I fetched seperately from 3 page then append

In [115]:
price=[]

for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):

  price.append(i.text.replace('\n',''))
  
    
price

['₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹349',
 '₹748',
 '₹449',
 '₹214',
 '₹449',
 '₹312',
 '₹499',
 '₹429',
 '₹377',
 '₹416',
 '₹449',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹398',
 '₹498',
 '₹199',
 '₹416',
 '₹1,228',
 '₹448',
 '₹321',
 '₹698',
 '₹1,216',
 '₹499',
 '₹365',
 '₹407',
 '₹1,708',
 '₹378',
 '₹439',
 '₹405',
 '₹1,678']

In [126]:
A=price[:40]
A

['₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹349',
 '₹748',
 '₹449',
 '₹214',
 '₹449',
 '₹312',
 '₹499',
 '₹429',
 '₹377',
 '₹416',
 '₹449',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹398',
 '₹498',
 '₹199',
 '₹416',
 '₹1,228',
 '₹448',
 '₹321',
 '₹698',
 '₹1,216',
 '₹499',
 '₹365',
 '₹407',
 '₹1,708',
 '₹378',
 '₹439',
 '₹405',
 '₹1,678']

In [118]:
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [119]:
price_from_second_page=[]

for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):

  price_from_second_page.append(i.text.replace('\n',''))
  
    
price_from_second_page

['₹499',
 '₹405',
 '₹293',
 '₹499',
 '₹449',
 '₹719',
 '₹348',
 '₹312',
 '₹499',
 '₹446',
 '₹199',
 '₹2,794',
 '₹405',
 '₹449',
 '₹451',
 '₹440',
 '₹379',
 '₹240',
 '₹398',
 '₹521',
 '₹379',
 '₹472',
 '₹679',
 '₹599',
 '₹449',
 '₹769',
 '₹399',
 '₹499',
 '₹399',
 '₹299',
 '₹416',
 '₹449',
 '₹240',
 '₹449',
 '₹416',
 '₹748',
 '₹311',
 '₹211',
 '₹346',
 '₹599']

In [121]:
len(price_from_second_page)

40

In [127]:
B=price_from_second_page

In [123]:
driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
time.sleep(2)

In [124]:
price_from_third_page=[]

for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):

  price_from_third_page.append(i.text.replace('\n',''))
  
    
price_from_third_page

['₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹748',
 '₹349',
 '₹398',
 '₹214',
 '₹449',
 '₹312',
 '₹1,568',
 '₹429',
 '₹416',
 '₹377',
 '₹1,588',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹1,258',
 '₹698',
 '₹321',
 '₹199',
 '₹512',
 '₹416',
 '₹448',
 '₹498',
 '₹2,500',
 '₹365',
 '₹499',
 '₹378',
 '₹424',
 '₹407',
 '₹439',
 '₹499',
 '₹2,971']

In [125]:
len(price_from_third_page)

40

In [128]:
C=price_from_third_page

In [130]:
price_data=A+B+C

In [131]:
price_data

['₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹349',
 '₹748',
 '₹449',
 '₹214',
 '₹449',
 '₹312',
 '₹499',
 '₹429',
 '₹377',
 '₹416',
 '₹449',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹398',
 '₹498',
 '₹199',
 '₹416',
 '₹1,228',
 '₹448',
 '₹321',
 '₹698',
 '₹1,216',
 '₹499',
 '₹365',
 '₹407',
 '₹1,708',
 '₹378',
 '₹439',
 '₹405',
 '₹1,678',
 '₹499',
 '₹405',
 '₹293',
 '₹499',
 '₹449',
 '₹719',
 '₹348',
 '₹312',
 '₹499',
 '₹446',
 '₹199',
 '₹2,794',
 '₹405',
 '₹449',
 '₹451',
 '₹440',
 '₹379',
 '₹240',
 '₹398',
 '₹521',
 '₹379',
 '₹472',
 '₹679',
 '₹599',
 '₹449',
 '₹769',
 '₹399',
 '₹499',
 '₹399',
 '₹299',
 '₹416',
 '₹449',
 '₹240',
 '₹449',
 '₹416',
 '₹748',
 '₹311',
 '₹211',
 '₹346',
 '₹599',
 '₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹748',
 '₹349',
 '₹398',
 '₹214',
 '₹449',
 '₹312',
 '₹1,568',
 '₹429',
 '₹416',
 '₹377',
 '₹1,588',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹1,258',
 '₹698',
 '₹321',
 '₹199',
 '₹512',
 '₹416',
 '₹448',
 '₹498',
 '₹2,500',
 '₹365',
 '₹499',
 '₹378',
 '₹424',
 '₹407',
 '₹439',
 '₹499',
 '₹2,971']

In [132]:
len(price_data)

120

In [ ]:
As we need only first 100

In [133]:
price_data=price_data[:100]

In [134]:
price_data

['₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹349',
 '₹748',
 '₹449',
 '₹214',
 '₹449',
 '₹312',
 '₹499',
 '₹429',
 '₹377',
 '₹416',
 '₹449',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047',
 '₹398',
 '₹283',
 '₹398',
 '₹398',
 '₹498',
 '₹199',
 '₹416',
 '₹1,228',
 '₹448',
 '₹321',
 '₹698',
 '₹1,216',
 '₹499',
 '₹365',
 '₹407',
 '₹1,708',
 '₹378',
 '₹439',
 '₹405',
 '₹1,678',
 '₹499',
 '₹405',
 '₹293',
 '₹499',
 '₹449',
 '₹719',
 '₹348',
 '₹312',
 '₹499',
 '₹446',
 '₹199',
 '₹2,794',
 '₹405',
 '₹449',
 '₹451',
 '₹440',
 '₹379',
 '₹240',
 '₹398',
 '₹521',
 '₹379',
 '₹472',
 '₹679',
 '₹599',
 '₹449',
 '₹769',
 '₹399',
 '₹499',
 '₹399',
 '₹299',
 '₹416',
 '₹449',
 '₹240',
 '₹449',
 '₹416',
 '₹748',
 '₹311',
 '₹211',
 '₹346',
 '₹599',
 '₹499',
 '₹389',
 '₹377',
 '₹449',
 '₹449',
 '₹748',
 '₹349',
 '₹398',
 '₹214',
 '₹449',
 '₹312',
 '₹1,568',
 '₹429',
 '₹416',
 '₹377',
 '₹1,588',
 '₹242',
 '₹283',
 '₹473',
 '₹1,047']

# discount fetching  from 3 page each page having 40 , 40, 40 data but in this question we are facing huge length issue because first page bottom line product also coming  what ever xpath we are using so basically I fetched seperately from 3 page  then append

from 1st page discount

In [135]:
discount1=[]

for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):

  discount1.append(i.text.replace('\n',''))
  
    
discount1

['50% off',
 '87% off',
 '62% off',
 '85% off',
 '55% off',
 '62% off',
 '65% off',
 '77% off',
 '57% off',
 '55% off',
 '84% off',
 '60% off',
 '57% off',
 '58% off',
 '62% off',
 '60% off',
 '65% off',
 '43% off',
 '73% off',
 '68% off',
 '60% off',
 '43% off',
 '60% off',
 '70% off',
 '65% off',
 '67% off',
 '60% off',
 '48% off',
 '58% off',
 '55% off',
 '50% off',
 '49% off',
 '44% off',
 '50% off',
 '70% off',
 '57% off',
 '68% off',
 '56% off',
 '50% off',
 '57% off']

In [136]:
A=discount1[:40]

from 2 nd page:

In [137]:
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [139]:
discount2=[]

for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):

  discount2.append(i.text.replace('\n',''))
  
    
discount2

['81% off',
 '59% off',
 '41% off',
 '50% off',
 '85% off',
 '71% off',
 '30% off',
 '84% off',
 '50% off',
 '77% off',
 '60% off',
 '35% off',
 '59% off',
 '55% off',
 '54% off',
 '47% off',
 '70% off',
 '51% off',
 '60% off',
 '85% off',
 '81% off',
 '52% off',
 '72% off',
 '40% off',
 '55% off',
 '23% off',
 '60% off',
 '50% off',
 '70% off',
 '70% off',
 '58% off',
 '55% off',
 '51% off',
 '55% off',
 '58% off',
 '62% off',
 '68% off',
 '57% off',
 '65% off',
 '40% off']

In [141]:
B=discount2
len(B)

40

In [142]:
 
 driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
 time.sleep(2)

In [143]:
discount3=[]

for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):

  discount3.append(i.text.replace('\n',''))
  
    
discount3

['50% off',
 '87% off',
 '62% off',
 '77% off',
 '55% off',
 '62% off',
 '65% off',
 '60% off',
 '57% off',
 '55% off',
 '84% off',
 '55% off',
 '57% off',
 '58% off',
 '62% off',
 '55% off',
 '65% off',
 '43% off',
 '73% off',
 '60% off',
 '60% off',
 '43% off',
 '60% off',
 '68% off',
 '60% off',
 '58% off',
 '55% off',
 '70% off',
 '65% off',
 '67% off',
 '50% off',
 '48% off',
 '50% off',
 '44% off',
 '68% off',
 '60% off',
 '70% off',
 '56% off',
 '59% off',
 '49% off']

In [144]:
C=discount3
len(C)

40

In [145]:
discount_data=A+B+C

In [146]:
len(discount_data)

120

In [147]:
discount_data=discount_data[:100]

In [156]:
import pandas as pd
jobtab7=pd.DataFrame({})

jobtab7['brand name']=B
jobtab7['price']=price_data
jobtab7['discount']=discount_data

In [157]:
jobtab7

      brand name   price discount
0       PEHANOSA    ₹499  50% off
1      India hub    ₹389  87% off
2         ORICUM    ₹377  62% off
3        tigonis    ₹449  85% off
4   Robbie jones    ₹449  55% off
..           ...     ...      ...
95  BLACK BOTTOM  ₹1,588  55% off
96  Stefano Rads    ₹242  65% off
97      HOTSTYLE    ₹283  43% off
98        Chevit    ₹473  73% off
99          PUMA  ₹1,047  60% off

[100 rows x 3 columns]

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image

#

In [231]:
from selenium import webdriver
driver = webdriver.Chrome()

In [232]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [233]:
from selenium.common.exceptions import NoSuchElementException

In [234]:
driver=webdriver.Chrome("chromedriver.exe")

In [235]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [269]:
search_box=driver.find_element_by_xpath("//div[@class='common-checkboxIndicator']")

In [283]:
 search_box=driver.find_element_by_xpath("//input[@value='6649.0 TO 13099.0']")

In [271]:
colour=driver.find_element_by_xpath("//span[@data-colorhex='black']")

In [272]:
colour.click()

In [296]:
price=[]

for i in driver.find_elements_by_xpath("//div[@class = 'product-price']"):

  price.append(i.text.replace('\n',''))
  
    
price

['Rs. 12495',
 'Rs. 2697Rs. 4495(40% OFF)',
 'Rs. 758Rs. 3299(77% OFF)',
 'Rs. 899',
 'Rs. 3746Rs. 4995(25% OFF)',
 'Rs. 721Rs. 849(15% OFF)',
 'Rs. 1049Rs. 1399(25% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 3224Rs. 4299(25% OFF)',
 'Rs. 1499',
 'Rs. 11246Rs. 14995(25% OFF)',
 'Rs. 645Rs. 1699(62% OFF)',
 'Rs. 1824Rs. 7299(75% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 1799Rs. 2999(40% OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 799Rs. 3699(Rs. 2900 OFF)',
 'Rs. 4549Rs. 6499(30% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 1999',
 'Rs. 804Rs. 2299(65% OFF)',
 'Rs. 1199Rs. 1990(Rs. 791 OFF)',
 'Rs. 1399Rs. 2799(50% OFF)',
 'Rs. 12995',
 'Rs. 599Rs. 999(40% OFF)',
 'Rs. 584Rs. 1499(61% OFF)',
 'Rs. 2399',
 'Rs. 1999Rs. 3999(50% OFF)',
 'Rs. 2469Rs. 3799(35% OFF)',
 'Rs. 4399Rs. 5499(20% OFF)',
 'Rs. 3839Rs. 4799(20% OFF)',
 'Rs. 1749Rs. 6999(75% OFF)',
 'Rs. 17595',
 'Rs. 5499Rs. 9999(45% OFF)',
 'Rs. 824Rs. 1099(25% OFF)',
 'Rs. 519Rs. 1999(74% OFF)',
 'Rs. 2014Rs. 3099(35% OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 6079Rs. 7599(20% OFF)',
 'Rs. 689Rs. 2999(77% OFF)',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 899Rs. 2599(Rs. 1700 OFF)',
 'Rs. 479Rs. 999(52% OFF)',
 'Rs. 4121Rs. 5495(25% OFF)',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 1289Rs. 4299(70% OFF)',
 'Rs. 699Rs. 1499(Rs. 800 OFF)',
 'Rs. 1799Rs. 3999(55% OFF)',
 'Rs. 1199Rs. 3199(Rs. 2000 OFF)']

In [297]:
len(price)

50

In [308]:
for i in range(3):
 driver.find_element_by_xpath('//li[@class="pagination-number"]').click()
 time.sleep(2)

In [323]:
price=[]

for i in range(2):
 for i in driver.find_elements_by_xpath("//div[@class = 'product-price']"):

  price.append(i.text.replace('\n ',''))
  
 

driver.find_element_by_xpath('//li[@class="pagination-number"]').click()
time.sleep(2)   
    
price

['Rs. 4121Rs. 5495(25% OFF)',
 'Rs. 2697Rs. 4495(40% OFF)',
 'Rs. 645Rs. 1699(62% OFF)',
 'Rs. 758Rs. 3299(77% OFF)',
 'Rs. 899',
 'Rs. 1049Rs. 1399(25% OFF)',
 'Rs. 721Rs. 849(15% OFF)',
 'Rs. 3224Rs. 4299(25% OFF)',
 'Rs. 999Rs. 3999(75% OFF)',
 'Rs. 4499Rs. 5999(25% OFF)',
 'Rs. 1499',
 'Rs. 1749Rs. 6999(75% OFF)',
 'Rs. 1824Rs. 7299(75% OFF)',
 'Rs. 3996Rs. 4995(20% OFF)',
 'Rs. 4199Rs. 5599(25% OFF)',
 'Rs. 799Rs. 3699(Rs. 2900 OFF)',
 'Rs. 1999Rs. 3999(50% OFF)',
 'Rs. 17595',
 'Rs. 3839Rs. 4799(20% OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 599Rs. 999(40% OFF)',
 'Rs. 7496Rs. 9995(25% OFF)',
 'Rs. 1839Rs. 4599(60% OFF)',
 'Rs. 1799Rs. 2999(40% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 1199Rs. 1990(Rs. 791 OFF)',
 'Rs. 1709Rs. 3799(55% OFF)',
 'Rs. 939Rs. 4699(80% OFF)',
 'Rs. 11246Rs. 14995(25% OFF)',
 'Rs. 1574Rs. 3499(55% OFF)',
 'Rs. 2469Rs. 3799(35% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 584Rs. 1499(61% OFF)',
 'Rs. 1649Rs. 6599(75% OFF)',
 'Rs. 1224Rs. 4899(75% OFF)',
 'Rs. 1799Rs. 3999(55% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 1274Rs. 1499(15% OFF)',
 'Rs. 669Rs. 999(33% OFF)',
 'Rs. 804Rs. 2299(65% OFF)',
 'Rs. 519Rs. 1999(74% OFF)',
 'Rs. 12995',
 'Rs. 699Rs. 1499(Rs. 800 OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 4874Rs. 6499(25% OFF)',
 'Rs. 12495',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 2879Rs. 3599(20% OFF)',
 'Rs. 7796Rs. 11995(35% OFF)',
 'Rs. 899Rs. 2599(Rs. 1700 OFF)',
 'Rs. 4121Rs. 5495(25% OFF)',
 'Rs. 2697Rs. 4495(40% OFF)',
 'Rs. 645Rs. 1699(62% OFF)',
 'Rs. 758Rs. 3299(77% OFF)',
 'Rs. 899',
 'Rs. 1049Rs. 1399(25% OFF)',
 'Rs. 721Rs. 849(15% OFF)',
 'Rs. 3224Rs. 4299(25% OFF)',
 'Rs. 999Rs. 3999(75% OFF)',
 'Rs. 4499Rs. 5999(25% OFF)',
 'Rs. 1499',
 'Rs. 1749Rs. 6999(75% OFF)',
 'Rs. 1824Rs. 7299(75% OFF)',
 'Rs. 3996Rs. 4995(20% OFF)',
 'Rs. 4199Rs. 5599(25% OFF)',
 'Rs. 799Rs. 3699(Rs. 2900 OFF)',
 'Rs. 1999Rs. 3999(50% OFF)',
 'Rs. 17595',
 'Rs. 3839Rs. 4799(20% OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 599Rs. 999(40% OFF)',
 'Rs. 7496Rs. 9995(25% OFF)',
 'Rs. 1839Rs. 4599(60% OFF)',
 'Rs. 1799Rs. 2999(40% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 1199Rs. 1990(Rs. 791 OFF)',
 'Rs. 1709Rs. 3799(55% OFF)',
 'Rs. 939Rs. 4699(80% OFF)',
 'Rs. 11246Rs. 14995(25% OFF)',
 'Rs. 1574Rs. 3499(55% OFF)',
 'Rs. 2469Rs. 3799(35% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 584Rs. 1499(61% OFF)',
 'Rs. 1649Rs. 6599(75% OFF)',
 'Rs. 1224Rs. 4899(75% OFF)',
 'Rs. 1799Rs. 3999(55% OFF)',
 'Rs. 5756Rs. 7195(20% OFF)',
 'Rs. 1274Rs. 1499(15% OFF)',
 'Rs. 669Rs. 999(33% OFF)',
 'Rs. 804Rs. 2299(65% OFF)',
 'Rs. 519Rs. 1999(74% OFF)',
 'Rs. 12995',
 'Rs. 699Rs. 1499(Rs. 800 OFF)',
 'Rs. 1499Rs. 5999(75% OFF)',
 'Rs. 4874Rs. 6499(25% OFF)',
 'Rs. 12495',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 2879Rs. 3599(20% OFF)',
 'Rs. 7796Rs. 11995(35% OFF)',
 'Rs. 899Rs. 2599(Rs. 1700 OFF)']

In [321]:
len(price)

100

In [304]:
Brand=[]

for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
 Brand.append(i.text.replace('\n',''))
  
    
Brand

['Nike',
 'ASICS',
 'Nabaiji By Decathlon',
 'Nike',
 'Campus',
 'Sparx',
 'Nike',
 'Skechers',
 'H&M',
 'Nike',
 'MENGLER',
 'Red Tape',
 'Nike',
 'Puma',
 'Red Tape',
 'Provogue',
 'Puma',
 'Nike',
 'H&M',
 'Crew STREET',
 'HIGHLANDER',
 'HRX by Hrithik Roshan',
 'Nike',
 'ZAPATOZ',
 'Butterflies',
 'Campus',
 'Puma',
 'ADIDAS Originals',
 'Skechers',
 'ADIDAS',
 'Red Tape',
 'Nike',
 'Skechers',
 'Champs',
 'ELIXIR MAN',
 'House of Pataudi',
 'Red Tape',
 'Red Tape',
 'ADIDAS',
 'ASICS',
 'Puma',
 'Eego Italy',
 'Histeria',
 'Nike',
 'Nike',
 'HRX by Hrithik Roshan',
 'Shezone',
 'Puma',
 'HRX by Hrithik Roshan']

In [305]:
len(Brand)

49

In [311]:
Brand=[]
for i in range(2):
 for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
   Brand.append(i.text.replace('\n',''))
  
driver.find_element_by_xpath('//li[@class="pagination-number"]').click()
time.sleep(2)


Brand

['PUMA Motorsport',
 'Mode by Red Tape',
 'Catwalk',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'Nike',
 'Nike',
 'Shoetopia',
 'ZAPATOZ',
 'Truffle Collection',
 'Skechers',
 'Nike',
 'Skechers',
 'Sparx',
 'Nike',
 'DressBerry',
 'Sir Corbett',
 'Bata',
 'Bella Toes',
 'Red Tape',
 'Puma',
 'HRX by Hrithik Roshan',
 'Nike',
 'Catwalk',
 'TRASE',
 'ZAPATOZ',
 'Nike',
 'Catwalk',
 'Clarks',
 'H&M',
 'Nike',
 'HRX by Hrithik Roshan',
 'Campus',
 'Puma',
 'Red Tape',
 'Nike',
 'DressBerry',
 'Puma',
 'U.S. Polo Assn.',
 'Campus',
 'ADIDAS',
 'HIGHLANDER',
 'Catwalk',
 'Vishudh',
 'Puma',
 'Reebok',
 'AfroJack',
 'Campus',
 'Skechers',
 'Crew STREET',
 'PUMA Motorsport',
 'Mode by Red Tape',
 'Catwalk',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'Nike',
 'Nike',
 'Shoetopia',
 'ZAPATOZ',
 'Truffle Collection',
 'Skechers',
 'Nike',
 'Skechers',
 'Sparx',
 'Nike',
 'DressBerry',
 'Sir Corbett',
 'Bata',
 'Bella Toes',
 'Red Tape',
 'Puma',
 'HRX by Hrithik Roshan',
 'Nike',
 'Catwalk',
 'TRASE',
 'ZAPATOZ',
 'Nike',
 'Catwalk',
 'Clarks',
 'H&M',
 'Nike',
 'HRX by Hrithik Roshan',
 'Campus',
 'Puma',
 'Red Tape',
 'Nike',
 'DressBerry',
 'Puma',
 'U.S. Polo Assn.',
 'Campus',
 'ADIDAS',
 'HIGHLANDER',
 'Catwalk',
 'Vishudh',
 'Puma',
 'Reebok',
 'AfroJack',
 'Campus',
 'Skechers',
 'Crew STREET']

In [312]:
len(Brand)

100

In [300]:
product_desc=[]

for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
 product_desc.append(i.text.replace('\n',''))
  
    
product_desc

['Men JORDAN DELTA Basketball',
 'Men COURT ROYALE AC Sneakers',
 'Kids Solid Running Shoes',
 'Unisex Aqua Aerobics Shoes',
 'Men FLEX EXPERIENCE Running',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men ZOOM SPAN 3 Running Shoes',
 'Men GO WALK MAX Walking Shoes',
 'Canvas trainers',
 'Men JOYRIDE Running Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Men SPEEDREP Training Shoes',
 'Unisex Kent 2.0 IDP Sneakers',
 'Men Walking Shoes',
 'Men Solid Horsebit Loafers',
 'Men ULTRA 3.2 FG/AG Football',
 'Unisex COSMIC UNITY Basketball',
 'Men Patterned Trainers',
 'Men Woven Design Walking Shoes',
 'Men Sneakers',
 'Women Flex Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Women Walking Shoes',
 'Women Embellished Wedge Heels',
 'Men SYCLONE (R) Running Shoes',
 'Men Running Slip-On Sneakers',
 'Men Easy VULC 2.0 Skateboard',
 'Go Flex 2 Contort Walking',
 'Men Sturds Running Shoes',
 'Men Walking Shoes',
 'LEBRON XVIII Basketball Shoes',
 'Men GO RUN 7+ Running Shoes',
 'Men Running Shoes',
 'Men Sneakers',
 'Women Handcrafted Flats',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Men Response SR Running Shoes',
 'Pre Contend 4 Ps Running Shoes',
 'Women Running Shoes',
 'Men Trekking Shoes',
 'Men Perforations Clogs',
 'HERITAGE VULC Skateboarding',
 'Unisex LEBRON XVIII Basketball',
 'Men Running Shoes',
 'Women Animal Print Ballerinas',
 'Men Gamble XT IDP Shoes',
 'Men Skate Street Sneakers']

In [301]:
len(product_desc)

50

In [313]:
product_desc=[]
for i in range(2):
 for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
   product_desc.append(i.text.replace('\n',''))
  
driver.find_element_by_xpath('//li[@class="pagination-number"]').click()
time.sleep(2)      
product_desc

['Men COURT ROYALE AC Sneakers',
 'Men Walking Shoes',
 'Kids Solid Running Shoes',
 'Unisex Aqua Aerobics Shoes',
 'Men Woven Design Walking Shoes',
 'Men Running Shoes',
 'Women Mid-Top Open Toe Flats',
 'HERITAGE VULC Skateboarding',
 'Men GO WALK MAX Walking Shoes',
 'Canvas trainers',
 'Unisex LEBRON XVIII Basketball',
 'Men Walking Shoes',
 'Women Open Toe Flats',
 'Men Walking Shoes',
 'Men Solid Horsebit Loafers',
 'Men Running Slip-On Sneakers',
 'Men Walking Shoes',
 'Men ZOOM FREAK 2 Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Unisex LEBRON XVIII Basketball',
 'Men CREST Walking Shoes',
 'Unisex Kent 2.0 IDP Sneakers',
 'Men Sneakers',
 'Men Knit Run 1.0 Running Shoe',
 'Sneakers',
 'Men Easy VULC 2.0 Skateboard',
 'Women Lace -Up Open Toe Flats',
 'Men JOYRIDE Running Shoes',
 'Men Sturds Running Shoes',
 'Men Walking Shoes',
 'Men Colourblocked Flat Boots',
 'Women Embellished Wedge Heels',
 'Men NORTH-ON Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Gamble XT IDP Shoes',
 'Men Woven Design Sneakers',
 'Men Woven Design Walking Shoes',
 'Women Heeled Boots',
 'Men Sneakers',
 'Men Walking Shoes',
 'Men JORDAN DELTA Basketball',
 'Women Walking Shoes',
 'Women Animal Print Ballerinas',
 'Men Walking Shoes',
 'Men FLEX EXPERIENCE Running',
 'Women Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Men Perforations Clogs',
 'Women REACT Running Shoes',
 'Men ZOOM SPAN 3 Running Shoes',
 'Men COURT ROYALE AC Sneakers',
 'Men Walking Shoes',
 'Kids Solid Running Shoes',
 'Unisex Aqua Aerobics Shoes',
 'Men Woven Design Walking Shoes',
 'Men Running Shoes',
 'Women Mid-Top Open Toe Flats',
 'HERITAGE VULC Skateboarding',
 'Men GO WALK MAX Walking Shoes',
 'Canvas trainers',
 'Unisex LEBRON XVIII Basketball',
 'Men Walking Shoes',
 'Women Open Toe Flats',
 'Men Walking Shoes',
 'Men Solid Horsebit Loafers',
 'Men Running Slip-On Sneakers',
 'Men Walking Shoes',
 'Men ZOOM FREAK 2 Basketball',
 'Women PEGASUS 37 Running Shoes',
 'Unisex LEBRON XVIII Basketball',
 'Men CREST Walking Shoes',
 'Unisex Kent 2.0 IDP Sneakers',
 'Men Sneakers',
 'Men Knit Run 1.0 Running Shoe',
 'Sneakers',
 'Men Easy VULC 2.0 Skateboard',
 'Women Lace -Up Open Toe Flats',
 'Men JOYRIDE Running Shoes',
 'Men Sturds Running Shoes',
 'Men Walking Shoes',
 'Men Colourblocked Flat Boots',
 'Women Embellished Wedge Heels',
 'Men NORTH-ON Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Gamble XT IDP Shoes',
 'Men Woven Design Sneakers',
 'Men Woven Design Walking Shoes',
 'Women Heeled Boots',
 'Men Sneakers',
 'Men Walking Shoes',
 'Men JORDAN DELTA Basketball',
 'Women Walking Shoes',
 'Women Animal Print Ballerinas',
 'Men Walking Shoes',
 'Men FLEX EXPERIENCE Running',
 'Women Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Men Perforations Clogs',
 'Women REACT Running Shoes',
 'Men ZOOM SPAN 3 Running Shoes']

In [314]:
len(product_desc)

100

In [316]:
import pandas as pd
shoe=pd.DataFrame({})

shoe['brand name']=Brand
shoe['price']=price
shoe['desc']=product_desc

In [317]:
shoe

,brand name,price,desc
0,PUMA Motorsport,Rs. 2697Rs. 4495(40% OFF),Men COURT ROYALE AC Sneakers
1,Mode by Red Tape,Rs. 645Rs. 1699(62% OFF),Men Walking Shoes
2,Catwalk,Rs. 758Rs. 3299(77% OFF),Kids Solid Running Shoes
3,Red Tape,Rs. 899,Unisex Aqua Aerobics Shoes
4,HRX by Hrithik Roshan,Rs. 1259Rs. 2799(55% OFF),Men Woven Design Walking Shoes
...,...,...,...
95,Reebok,Rs. 2749Rs. 4999(45% OFF),Women Running Shoes
96,AfroJack,Rs. 12995,Men KD13 EP Basketball Shoes
97,Campus,Rs. 479Rs. 999(52% OFF),Men Perforations Clogs
98,Skechers,Rs. 7796Rs. 11995(35% OFF),Women REACT Running Shoes
99,Crew STREET,Rs. 5756Rs. 7195(20% OFF),Men ZOOM SPAN 3 Running Shoes

# Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step.
Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [5]:
url="  https://www.amazon.in/"
driver.get(url)

In [6]:
try:
     search_box=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
    
except NoSuchElementException :
  search_box='na'

In [7]:
search_box.send_keys('Laptop')

In [8]:
search_botton=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]').click()

In [10]:
filterbotton=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')

In [11]:
filterbotton

[<selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="2bca2553-68c5-4bb5-ba12-6374b81f2b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="ca07c49e-5259-4fc4-9944-c2d427ec12f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="46453b83-540f-4f50-ae85-e8c94a34d1db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f5a72835-5bec-46b4-bd86-fd82a00e76fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="919a6480-5696-4833-87bc-d0862bfecd83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="def46021-298b-4d7d-8f58-a49b241fc020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="3ae10e81-8ed1-46ea-8960-b4ea1ef20832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="285004f9-84fb-4ba4-b667-67710711d8e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="9bfee65f-7d36-41e0-ade6-d48ce8481244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="61182788-7914-44ba-901a-3e3e68c0fc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="dfb80a53-7adb-4c1b-ba81-8d11cafb4998")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c7396cdf-a3cd-4eaf-91f1-6eb6b962cdc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="de9d7523-3a8f-417e-bc90-f5242268a4a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="9711af71-c7db-46bd-8a29-84419625c44f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8d663e07-690e-47f3-b079-73c126c81d3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f694f66a-c5ea-411a-997a-9bcf7027b18b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5efeb0eb-6155-43b5-8e61-1475cd54d6de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="debfd7c5-1092-4ddb-a9a4-2c578805b95a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="14c68d6a-a3a1-41db-817d-58eadd7007b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="53f6084c-8a36-4ace-9e1f-c35337e07f94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="55115387-83b5-4856-8e63-0cc2acc5c4bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c42330c3-e9cb-4d42-857b-816bbf612c4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0df6b156-a544-44ed-b993-a1e15dd52e28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0093339b-1ded-4955-8ca7-f2efe52e89d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e0a10348-2ffa-4435-ab98-30950df10540")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d1ac56c0-8907-4948-8cda-f120da2578a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="10da7871-3d12-427a-9b2f-5c287c392c54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e51fdd00-f330-4410-8747-5560031c77a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="ee0a1f51-978e-440b-86d0-94b6f7dfc915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0caba2a5-c172-4f09-877a-b2aeed840c79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f0daa924-97b7-4ffc-9d8e-5ffe45132498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5b0e5cc9-d328-41c3-afff-7f4a16e07d3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e42aac06-d8c7-4f2d-8b27-7147ed7a8f67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="7cc66449-3113-4599-b71a-6ee2a1a39375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="70c5a74c-7f37-4f6d-97cd-76ab0d15bcdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="70bb2308-0d11-4cba-8c0d-cd6ed3b03de1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="3ffe9b43-11ac-4e38-9c9e-adc4251687ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5878a8a7-fc75-41fe-8604-ba42641fa41f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e2699f5d-2c32-4e8b-a86c-781c3b5a5bf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="df96e825-0538-43bf-b0bc-24cc0a9f0410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8a87a11e-7108-485f-9a57-e7a7a19954b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="068dc316-8f9f-415a-87d9-f0aa83368e93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="04a0bb19-2a9d-48ed-968d-b896d2b860ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="ee6fc744-1fd4-484c-807c-05bd96e35e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="460589b1-3261-45e4-b929-c0ef2cedf9ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d319775c-ebc1-4a1b-9f3c-0cf04381f56d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d8be0108-6aef-49a3-94d8-d653f1635663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e5ea0b98-e247-48da-95b8-e93fd8bcbc7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0ab2d6b3-c0b8-4003-8501-c29f1ba03bd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f0dfd1e7-3574-4a75-a52a-f425213df47a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8c22a95e-8f9c-47b8-8526-8f89e46d235d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="50380b16-8ca0-4811-8ffc-6ab6631fc5e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8c441c11-13cc-41a0-ac11-f2c9fc4717d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5f66cbae-0e6e-4c46-9710-0cd4481a05d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="cae80d50-f54b-4a32-ab6a-cb6a13ce21b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="a9cc03bb-e5da-400c-8860-a95b9228b6c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0cf9bd93-58dc-4e39-ba3a-078ffb1ca67d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0fc03ef7-1b8a-4c37-9d70-c19ab030a8fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="cb61f338-13c0-4a10-b23b-aa76a7f17a15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0a9e7471-356c-4d11-b99d-4fa6df8c729d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f5741ba3-8f62-48f0-a5aa-5afd8054b2fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8e2d7705-5fa3-4377-b00f-9d4794da2327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="375bc440-6dad-4526-89ed-e2701d845207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="692d36f6-a8a5-46f1-a1f2-37f46f16eb3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d8de0e7c-85e0-4718-8ace-ebcab701cf97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="563e226b-65d4-4aa0-8a46-b6627edb5d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="27b9e2b5-d4bb-41c7-a8cd-4b968e9d8f78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="93938bd2-de35-4571-b062-e2c719b2e205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="feda5703-ec94-4a3f-85d6-58ebcf808481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c4bd764d-edc0-43d0-b72e-c832e3b6b4b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="a91e071c-f7f2-452f-8013-da7715c258f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d6f8ecee-94c7-491c-bf61-855e2f772e74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c3eb5886-7209-431a-b59d-78dee76e1cc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="0e3c2377-280e-48e8-a774-d1bc58f24a59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="bbdd056c-03ae-4d9f-82f7-d9ae467e0dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="b73c8356-e9af-482a-91ed-11efbd57fc4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="9433d2c2-50b2-46f0-bdd9-82b17f9d6704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="b29be02b-324e-4b5a-9e0c-8b2a7c422e76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="617a9683-e616-4371-be77-1e60291ce6d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c4c98811-7120-4d71-bf46-1f367fbf8b65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="a7e83b93-331f-4983-98d8-12dd05de8000")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e3301022-2e53-41f0-9ccb-85a185e872b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="137749dd-ad20-4f62-8a9a-2a11903addc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="131da770-2e12-4203-b775-1d207580e03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="06db649b-8c97-456d-bb4c-8d7c78e99f1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="4bd1594f-66b3-47c5-a259-02f897703ba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="45199347-140c-4a32-b2ab-7d7c0c9be358")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="83c7790d-25ea-4bf6-8a4c-ec2fa599ff4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="a8d7c94f-958b-4898-bb16-4fd2b482fef2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="3e2fb023-a51d-4db8-ad58-a7d57b662be0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="16f92b3f-2536-4ebb-917f-a87033354737")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="508a6c39-a2f1-4039-9894-11459290b650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="3a4a7358-a209-4713-bee7-d85eb5365749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c2e72029-3c2f-469e-9021-4128b8f5f768")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="cae15f61-a24b-40ef-bd9a-5118fdfc4752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5cb51071-2384-4fc0-853a-ba655a16cf5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="507c8a16-c1d5-497a-a8c0-69bc4c2feff9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="1f7cb7f0-4ea4-428c-a596-6152df2a316c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="b32188bc-fa0a-4ea8-be6c-ff7a3eef8f72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="319a4b32-786c-4a16-9155-10fc7fc5fa0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="c50a165a-e961-4b2d-8d5c-ad926f509bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="26a27d9f-e49f-4904-8f89-40fa9a522a6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="7e4c3345-698b-4ad8-81d8-4c94e8955cb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="b82ba077-5e5a-4150-a9c6-c33a2eb9a696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="dbdcd00d-3c49-404f-8ea9-f526c6f50467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5f604f4e-a782-4f95-b6c4-0f354dae2fcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="13440ed4-c2ca-42db-903a-f0d52d0ee762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="815d1255-397a-4487-90d2-c11329a5b05a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5e12d3f8-5011-46a0-8004-281f98c4a228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="40f88976-bdd7-4f01-b24b-d9da1c84b976")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="7588070d-19f8-47a6-bab7-49857ee3a782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5e4ffb8a-a1c2-4797-b8e4-83f9d09f5422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="495dd4ad-1fba-4cfa-922d-eba8b0958831")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="850a0c62-722f-42bd-bf21-b83d05d46c71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="84ae99fa-3a26-443b-b59e-a29a8664ec11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8ef75101-651f-4676-9630-a4ccd902291c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8864f862-6f13-4164-9fc5-57300a03a972")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f00397b1-1fc7-4a93-8d6c-7cadf3156ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="a45313e7-3d57-48b6-bc37-2983592b10f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="10d20423-7a02-49db-a72e-1fcf64504454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="b69f1989-723d-4a3d-8e2e-c6a414a04759")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="4f988a25-bbc8-481c-b719-b782c5316809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="4961c8ab-2ece-43c9-a080-dce43ba0f848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="697ef3ed-05d7-4bc2-8c20-b6dd1e617835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="81b761c6-37e1-4252-9c72-a57979b8ed76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="2613f18c-695c-49c5-b7c4-1b13b4a35688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="1e789891-5c07-4c7c-9ab2-ab4eb6a75792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="4b940741-2cb3-467a-929b-bfa90c669cf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="e442c8a3-3250-4fe4-ab0b-1a50e01ebac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="8f65894b-0f0a-4cd1-8d4f-bcfc044b3d54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="cc28763a-3879-4ef0-802b-7eeab8b42c73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="d77ffcf2-d7b5-4451-bdcd-4ea3bd599873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="5083b745-5c07-4ade-9367-cd1e3717e098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ef51535071982d61926d3051674b760", element="f3be3d83-a749-43c5-abec-bf2ebddae6bf")>]

In [12]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [13]:
from selenium.common.exceptions import NoSuchElementException

In [14]:
import time

In [15]:
filterbotton=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
time.sleep(2)
try:
 for i in filterbotton:
   if i.text == 'Intel Core i9':
     i.click()
except StaleElementReferenceException as e:
 print(e)

Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [17]:
filterbotton=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
time.sleep(2)

 


try:
 for i in filterbotton:
   if i.text == 'Intel Core i7':
     i.click()
except StaleElementReferenceException as e:
 print(e)

Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [18]:
Name=[]

for i in driver.find_elements_by_xpath('//span[@ class ="a-size-medium a-color-base a-text-normal"]'):

    Name.append(i.text.replace('\n',''))

In [20]:
Name=Name[:10]
Name

['Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM(Upgradable to 16)/512GB SSD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN']

In [21]:
price=[]

for i in driver.find_elements_by_xpath('//span[@ class ="a-price-whole"]'):

    price.append(i.text.replace('\n',''))

In [23]:
 price= price[:10]
 price

['76,990',
 '54,999',
 '84,990',
 '26,990',
 '86,990',
 '1,92,492',
 '2,69,990',
 '89,990',
 '51,999',
 '76,990']

In [62]:
url=[]

for i in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]'):
  url.append(i.get_attribute('href'))
url

['https://www.amazon.in/Acer-Predator-Graphics-PH315-53-Laptop/dp/B08WKFQPF4/ref=cr_br_sbs_2/262-6946948-4079843?pd_rd_w=EVnYR&pf_rd_p=6814d7a8-d0b5-42ef-b594-4c33a76705cc&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08WKFQPF4&psc=1',
 'https://www.amazon.in/HP-Processor-15-6-inch-i7-10750H-15-ek0019TX/dp/B08CGM1PKK/ref=cr_br_sbs_4/262-6946948-4079843?pd_rd_w=EVnYR&pf_rd_p=6814d7a8-d0b5-42ef-b594-4c33a76705cc&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08CGM1PKK&psc=1',
 'https://www.amazon.in/ASUS-i7-11370H-GeForce-RTX-Moonlight-FX516PR-AZ024TS/dp/B08XBVY35R/ref=cr_br_sbs_5/262-6946948-4079843?pd_rd_w=EVnYR&pf_rd_p=6814d7a8-d0b5-42ef-b594-4c33a76705cc&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08XBVY35R&psc=1',
 'https://www.amazon.in/HP-Processor-15-6-inch-i7-10750H-15-ek0042TX/dp/B08CGJDFCK/ref=cr_br_sbs_6/262-6946948-4079843?pd_rd_w=EVnYR&pf_rd_p=6814d7a8-d0b5-42ef-b594-4c33a76705cc&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08CGJDFCK&psc=1',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=pd_di_sccai_1/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08PQTZB3Z&psc=1',
 'https://www.amazon.in/Renewed-Lenovo-X1-1980x1080-Thinkpad/dp/B08WHM7YSV/ref=pd_di_sccai_2/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08WHM7YSV&psc=1',
 'https://www.amazon.in/Renewed-Lenovo-X1-1980x1080-Thinkpad/dp/B08WHCYDG6/ref=pd_di_sccai_3/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08WHCYDG6&psc=1',
 'https://www.amazon.in/Lenovo-ThinkPad-Fingerprint-Aluminium-20TDS0AB00/dp/B08Y927FK4/ref=pd_di_sccai_4/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08Y927FK4&psc=1',
 'https://www.amazon.in/Certified-REFURBISHED-Lenovo-T450-Integrated/dp/B07HPV69ZQ/ref=pd_di_sccai_5/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B07HPV69ZQ&psc=1',
 'https://www.amazon.in/HP-Convertible-Touchscreen-13-3-inch-13-ay0046AU/dp/B08L84H8WS/ref=pd_di_sccai_6/262-6946948-4079843?pd_rd_w=7qOaW&pf_rd_p=fe781afd-b38e-460e-84b3-0b9cfeddda81&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08L84H8WS&psc=1',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A03559833KFZ8XTRHSU5M&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB092MRQCJ6%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB092MRQCJ6%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A03559833KFZ8XTRHSU5M&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB092MRQCJ6%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB092MRQCJ6%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A03562953LCD6AH7TP93K&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB092MTLNBB%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB092MTLNBB%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A03562953LCD6AH7TP93K&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB092MTLNBB%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB092MTLNBB%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A043677823XGBJUIF4AP0&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08SK1K92C%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08SK1K92C%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A043677823XGBJUIF4AP0&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08SK1K92C%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08SK1K92C%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A04612831D32XFOAB3519&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB00CD8AFFW%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB00CD8AFFW%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A04612831D32XFOAB3519&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB00CD8AFFW%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB00CD8AFFW%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A07754392JQ1CIE67HQ8J&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB07PKF4WH5%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB07PKF4WH5%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A07754392JQ1CIE67HQ8J&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB07PKF4WH5%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB07PKF4WH5%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_5?ie=UTF8&adId=A01319881M9KCVYRS1E4X&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB01H58MBEC%2Fref%3Dsspa_dk_detail_5%3Fpsc%3D1%26pd_rd_i%3DB01H58MBEC%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_5?ie=UTF8&adId=A01319881M9KCVYRS1E4X&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB01H58MBEC%2Fref%3Dsspa_dk_detail_5%3Fpsc%3D1%26pd_rd_i%3DB01H58MBEC%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_6?ie=UTF8&adId=A0522556276V1VRBSJZLX&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08WLSYPWF%2Fref%3Dsspa_dk_detail_6%3Fpsc%3D1%26pd_rd_i%3DB08WLSYPWF%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_6?ie=UTF8&adId=A0522556276V1VRBSJZLX&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08WLSYPWF%2Fref%3Dsspa_dk_detail_6%3Fpsc%3D1%26pd_rd_i%3DB08WLSYPWF%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_7?ie=UTF8&adId=A05273012966GWNFDKD18&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB07TS33VCV%2Fref%3Dsspa_dk_detail_7%3Fpsc%3D1%26pd_rd_i%3DB07TS33VCV%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_7?ie=UTF8&adId=A05273012966GWNFDKD18&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB07TS33VCV%2Fref%3Dsspa_dk_detail_7%3Fpsc%3D1%26pd_rd_i%3DB07TS33VCV%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_8?ie=UTF8&adId=A05462112SDTKDK1K3H2D&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08PRYRXYW%2Fref%3Dsspa_dk_detail_8%3Fpsc%3D1%26pd_rd_i%3DB08PRYRXYW%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_8?ie=UTF8&adId=A05462112SDTKDK1K3H2D&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08PRYRXYW%2Fref%3Dsspa_dk_detail_8%3Fpsc%3D1%26pd_rd_i%3DB08PRYRXYW%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_9?ie=UTF8&adId=A0546399YPSLN5851ZYK&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08PRY8NDX%2Fref%3Dsspa_dk_detail_9%3Fpsc%3D1%26pd_rd_i%3DB08PRY8NDX%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_9?ie=UTF8&adId=A0546399YPSLN5851ZYK&qualifier=1623693626&id=4485196964330885&widgetName=sp_detail&url=%2Fdp%2FB08PRY8NDX%2Fref%3Dsspa_dk_detail_9%3Fpsc%3D1%26pd_rd_i%3DB08PRY8NDX%26pd_rd_w%3DKN4N1%26pf_rd_p%3D22b566f7-b705-4003-ab1d-17d90225e15f%26pd_rd_wg%3DzFHlT%26pf_rd_r%3DZ10FE2BS2BJ9A82528MS%26pd_rd_r%3Dad105a05-d188-4ec0-b1df-8a35c55c446b',
 'https://www.amazon.in/Lenovo-Authorized-Accidental-Protection-Service/dp/B08D9J6TZS/ref=bmx_1/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08D9J6TZS&psc=1',
 'https://www.amazon.in/Exchange-Pick-up-Service-for-Laptops/dp/B07P64X5YP/ref=bmx_2/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B07P64X5YP&psc=1',
 'https://www.amazon.in/Acko-Year-Extended-Warranty-Laptops/dp/B07MMN22R3/ref=bmx_3/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B07MMN22R3&psc=1',
 'https://www.amazon.in/Lenovo-Laptop-Windows-Office-81UE0085IN/dp/B08JCL6R75/ref=bmx_4/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08JCL6R75&psc=1',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=bmx_5/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08WRZQBQ6&psc=1',
 'https://www.amazon.in/Lenovo-Accidental-Protection-IdeaPad-5PS0K76361/dp/B08XXVKTX5/ref=bmx_6/262-6946948-4079843?pd_rd_w=w5Xhk&pf_rd_p=733c3c6e-69dd-48c4-aaeb-acc982b5fc9a&pf_rd_r=Z10FE2BS2BJ9A82528MS&pd_rd_r=ad105a05-d188-4ec0-b1df-8a35c55c446b&pd_rd_wg=zFHlT&pd_rd_i=B08XXVKTX5&psc=1',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A03559833KFZ8XTRHSU5M&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB092MRQCJ6%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB092MRQCJ6p13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A03559833KFZ8XTRHSU5M&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB092MRQCJ6%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB092MRQCJ6p13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A03562953LCD6AH7TP93K&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB092MTLNBB%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB092MTLNBBp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A03562953LCD6AH7TP93K&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB092MTLNBB%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB092MTLNBBp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A043677823XGBJUIF4AP0&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB08SK1K92C%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08SK1K92Cp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A043677823XGBJUIF4AP0&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB08SK1K92C%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08SK1K92Cp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A0537137ND2D2YLXNUCT&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB012QQCATY%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB012QQCATYp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A0537137ND2D2YLXNUCT&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB012QQCATY%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB012QQCATYp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A0537137ND2D2YLXNUCT&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB012QQCATY%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB012QQCATYp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A0537137ND2D2YLXNUCT&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB012QQCATY%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB012QQCATYp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A10277671EL7H1NC3OB1J&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB013TGFPNS%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB013TGFPNSp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A10277671EL7H1NC3OB1J&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB013TGFPNS%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB013TGFPNSp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_5?ie=UTF8&adId=A02044081XTFYO4XU5XFM&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB08KZH6MSK%2Fref%3Dsspa_dk_detail_5%3Fpsc%3D1%26pd_rd_i%3DB08KZH6MSKp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_5?ie=UTF8&adId=A02044081XTFYO4XU5XFM&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB08KZH6MSK%2Fref%3Dsspa_dk_detail_5%3Fpsc%3D1%26pd_rd_i%3DB08KZH6MSKp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_6?ie=UTF8&adId=A02184112VZEHOJBEAYBW&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB07S6BYLYT%2Fref%3Dsspa_dk_detail_6%3Fpsc%3D1%26pd_rd_i%3DB07S6BYLYTp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_6?ie=UTF8&adId=A02184112VZEHOJBEAYBW&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB07S6BYLYT%2Fref%3Dsspa_dk_detail_6%3Fpsc%3D1%26pd_rd_i%3DB07S6BYLYTp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_7?ie=UTF8&adId=A0482573VNQYX7GCAIZB&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB093HHBCVJ%2Fref%3Dsspa_dk_detail_7%3Fpsc%3D1%26pd_rd_i%3DB093HHBCVJp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_7?ie=UTF8&adId=A0482573VNQYX7GCAIZB&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB093HHBCVJ%2Fref%3Dsspa_dk_detail_7%3Fpsc%3D1%26pd_rd_i%3DB093HHBCVJp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_8?ie=UTF8&adId=A01170962TSHW64I57RAB&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB07NZ419KZ%2Fref%3Dsspa_dk_detail_8%3Fpsc%3D1%26pd_rd_i%3DB07NZ419KZp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_8?ie=UTF8&adId=A01170962TSHW64I57RAB&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB07NZ419KZ%2Fref%3Dsspa_dk_detail_8%3Fpsc%3D1%26pd_rd_i%3DB07NZ419KZp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_9?ie=UTF8&adId=A04070611YR16QJT854OI&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB091YZB18M%2Fref%3Dsspa_dk_detail_9%3Fpsc%3D1%26pd_rd_i%3DB091YZB18Mp13NParams',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_9?ie=UTF8&adId=A04070611YR16QJT854OI&qualifier=1623693626&id=2224350968411970&widgetName=sp_detail2&url=%2Fdp%2FB091YZB18M%2Fref%3Dsspa_dk_detail_9%3Fpsc%3D1%26pd_rd_i%3DB091YZB18Mp13NParams']

In [69]:
len(url)

58

In [83]:
Ratings=[]

In [86]:
for i in url[:10]:
    driver.get(i)
    time.sleep(3)
   

    try:
      Ro=driver.find_element_by_xpath('//span[@data-hook="rating-out-of-text"]')
      Ratings.append(Ro.text)
    
    except NoSuchElementException :
     Ratings.append('-')

In [87]:
Ratings

['4.4 out of 5',
 '4 out of 5',
 '3.6 out of 5',
 '3.3 out of 5',
 '4.3 out of 5',
 '-',
 '-',
 '4.1 out of 5',
 '4 out of 5',
 '5 out of 5']

In [88]:
import pandas as pd
Laptop=pd.DataFrame({})

Laptop['Name']=Name
Laptop['price']=price
Laptop['Ratings']=Ratings

In [89]:
Laptop

                                                Name     price       Ratings
0  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...    76,990  4.4 out of 5
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999    4 out of 5
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  3.6 out of 5
3  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    26,990  3.3 out of 5
4  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    86,990  4.3 out of 5
5  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  1,92,492             -
6  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...  2,69,990             -
7  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...    89,990  4.1 out of 5
8  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...    51,999    4 out of 5
9  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...    76,990    5 out of 5